@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* General CSS */
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 9, core/static/css/base/_base.scss */
html {
  position: relative;
  min-height: 100%; }

/* line 14, core/static/css/base/_base.scss */
body {
  font-family: roboto, helvetica, arial, sans-serif; }

/* Header-Related CSS */
/* line 19, core/static/css/base/_base.scss */
#page-header {
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 70px;
  background-color: #3a4958 !important; }
  /* line 27, core/static/css/base/_base.scss */
  #page-header .nav-link {
    font-size: 1rem;
    color: #d4c99e !important; }
  /* line 32, core/static/css/base/_base.scss */
  #page-header .nav-link:hover {
    color: #4085b7; }
  /* line 37, core/static/css/base/_base.scss */
  #page-header .navbar-brand {
    color: #fdfdfd !important; }
  /* line 41, core/static/css/base/_base.scss */
  #page-header .navbar-brand:hover {
    color: #4085b7; }
  /* line 46, core/static/css/base/_base.scss */
  #page-header .dropdown-menu {
    min-width: 0; }
  /* line 50, core/static/css/base/_base.scss */
  #page-header .dropdown-item {
    color: #4085b7; }
  /* line 54, core/static/css/base/_base.scss */
  #page-header .dropdown-item:hover {
    color: #fdfdfd !important;
    background-color: #3a4958 !important;
    opacity: 0.15; }
  /* line 61, core/static/css/base/_base.scss */
  #page-header .btn-auth {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 66, core/static/css/base/_base.scss */
  #page-header .btn-auth:hover {
    color: #4085b7;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 73, core/static/css/base/_base.scss */
#site-title {
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 200 !important; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* line 5, core/static/css/components/_ace.scss */
.ace-chaos .ace_gutter-cell.ace_correct {
  padding-left: 0;
  color: #000;
  background: #5cb85c;
  border-left: none; }

/* line 12, core/static/css/components/_ace.scss */
.ace-chaos .ace_keyword.ace_operator {
  color: #4085b7; }

/* line 16, core/static/css/components/_ace.scss */
.ace-chaos .ace_keyword {
  color: #ffe800; }

/* line 20, core/static/css/components/_ace.scss */
.ace-chaos .ace_gutter {
  color: #fdfdfd !important; }

/* line 24, core/static/css/components/_ace.scss */
.ace-chaos .ace_comment,
.ace-chaos .ace_entity.ace_other.ace_attribute-name {
  color: #ff00e7; }

/* ACE Editor-Related CSS */
/* line 30, core/static/css/components/_ace.scss */
.ace_folding-enabled > .ace_gutter-cell {
  padding-right: 10px;
  padding-left: 30px; }

/* line 35, core/static/css/components/_ace.scss */
.tooltip > .tooltip-inner {
  color: #000;
  background-color: #d3d3d3; }

/* line 40, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_gutter-cell.ace_correct {
  padding-left: 0;
  color: #000;
  background: #5cb85c;
  border-left: none; }

/* line 47, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_gutter {
  color: #4085b7;
  background-color: #c8c8c8; }

/* line 52, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_print-margin {
  width: 1px;
  background: #e8e8e8; }

/* line 57, core/static/css/components/_ace.scss */
.ace-solarized-light {
  color: #3a4958 !important;
  background-color: #f0f0f0; }

/* line 62, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_cursor {
  color: #4085b7; }

/* line 66, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_selection {
  background: rgba(7, 54, 67, 0.09); }

/* line 70, core/static/css/components/_ace.scss */
.ace-solarized-light.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0 #fdf6e3; }

/* line 74, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_step {
  background: yellow; }

/* line 78, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(147, 161, 161, 0.5); }

/* line 83, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_active-line {
  background: #e0e0e0; }

/* line 87, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_gutter-active-line {
  background-color: #bfbfbf; }

/* line 91, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_selected-word {
  border: none; }

/* line 95, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_invisible {
  color: rgba(147, 161, 161, 0.5); }

/* line 99, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_keyword,
.ace-solarized-light .ace_meta,
.ace-solarized-light .ace_support.ace_class,
.ace-solarized-light .ace_support.ace_type {
  color: #000bff; }

/* line 106, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_constant.ace_character,
.ace-solarized-light .ace_constant.ace_other {
  color: #cb4b16; }

/* line 111, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_constant.ace_language {
  color: #b33600; }

/* line 115, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_constant.ace_numeric {
  color: #b33600; }

/* line 119, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_fold {
  background-color: #268bd2;
  border-color: #586e75; }

/* line 124, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_entity.ace_name.ace_function,
.ace-solarized-light .ace_entity.ace_name.ace_tag,
.ace-solarized-light .ace_support.ace_function,
.ace-solarized-light .ace_variable,
.ace-solarized-light .ace_variable.ace_language {
  color: #268bd2; }

/* line 132, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_storage {
  color: #073642; }

/* line 136, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_string {
  color: #649e59; }

/* line 140, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_string.ace_regexp {
  color: #b33600; }

/* line 144, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_comment,
.ace-solarized-light .ace_entity.ace_other.ace_attribute-name {
  color: #8a8a8a; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* line 5, core/static/css/components/_overlay.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: calc(100vh);
  overflow-x: hidden;
  background-color: #ff8c5f;
  transition: 0.5s; }

/* line 17, core/static/css/components/_overlay.scss */
.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  margin-top: 30px;
  text-align: left; }

/* line 25, core/static/css/components/_overlay.scss */
.overlay a {
  padding: 8px;
  color: #fff;
  text-decoration: none; }

/* line 31, core/static/css/components/_overlay.scss */
.overlay a:hover,
.overlay a:focus {
  color: #3a4958; }

/* line 36, core/static/css/components/_overlay.scss */
.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;
  cursor: pointer; }

/* line 7, core/static/css/components/_smiley.scss */
form#smileys input {
  appearance: none;
  width: 60px;
  height: 60px;
  margin: 5px 5px 5px;
  cursor: pointer;
  filter: grayscale(100%);
  border: none;
  transition: all 0.2s ease; }
  /* line 17, core/static/css/components/_smiley.scss */
  form#smileys input:hover, form#smileys input:checked {
    filter: grayscale(0); }
  /* line 22, core/static/css/components/_smiley.scss */
  form#smileys input:focus {
    outline: 0; }
  /* line 26, core/static/css/components/_smiley.scss */
  form#smileys input.excited {
    background-image: url("/static/images/excitedFace.png");
    background-size: cover; }
  /* line 31, core/static/css/components/_smiley.scss */
  form#smileys input.happy {
    background-image: url("/static/images/happyFace.png");
    background-size: cover; }
  /* line 36, core/static/css/components/_smiley.scss */
  form#smileys input.neutral {
    background-image: url("/static/images/neutralFace.png");
    background-size: cover; }
  /* line 41, core/static/css/components/_smiley.scss */
  form#smileys input.sad {
    background-image: url("/static/images/sadFace.png");
    background-size: cover; }
  /* line 46, core/static/css/components/_smiley.scss */
  form#smileys input.upset {
    background-image: url("/static/images/upsetFace.png");
    background-size: cover; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* line 9, core/static/css/components/_stepbar.scss */
#stepProgressBar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 40vw;
  margin: 0 auto; }

/* line 18, core/static/css/components/_stepbar.scss */
.step {
  text-align: center; }

/* line 23, core/static/css/components/_stepbar.scss */
.bullet {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #3a4958;
  background-color: #fff;
  border-radius: 100%;
  transition: background-color 500ms; }

/* line 36, core/static/css/components/_stepbar.scss */
.bullet.current {
  line-height: 30px;
  border: 5px solid #ff8c5f !important; }

/* line 42, core/static/css/components/_stepbar.scss */
.bullet.completed {
  color: #fff;
  background-color: #ff8c5f !important; }

/* line 48, core/static/css/components/_stepbar.scss */
.bullet.completed::after {
  position: absolute;
  bottom: 15px;
  width: 9vw;
  height: 5px;
  content: "";
  background-color: #ff8c5f !important; }

/* line 58, core/static/css/components/_stepbar.scss */
.bullet.end::before {
  position: absolute;
  right: 2vw;
  bottom: 15px;
  width: 7.2vw;
  content: "";
  border-top: 5px dotted #fff; }

/* line 68, core/static/css/components/_stepbar.scss */
.bullet.last::before {
  position: absolute;
  right: 2vw;
  bottom: 15px;
  width: 8vw;
  content: "";
  border-top: 5px solid #fff; }

/* line 78, core/static/css/components/_stepbar.scss */
.text-center {
  text-align: center; }

/* Tutorial Layout-Related CSS */
/* line 12, core/static/css/pages/lesson.scss */
#page-content {
  height: calc(100vh - 70px);
  overflow: hidden; }
  /* line 6, core/static/css/components/_jumbotron.scss */
  #page-content .jumbotron {
    color: #fdfdfd !important;
    background-color: #4c6085 !important; }
  /* line 11, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 16, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron:hover {
    color: #fdfdfd !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 20, core/static/css/pages/lesson.scss */
#tutorialCol {
  height: calc(100vh - 70px); }

/* line 24, core/static/css/pages/lesson.scss */
#tutorialContent {
  overflow-x: hidden;
  overflow-y: auto; }
  /* line 28, core/static/css/pages/lesson.scss */
  #tutorialContent a {
    text-decoration: none; }
  /* line 32, core/static/css/pages/lesson.scss */
  #tutorialContent .inlineCode {
    font-family: "Courier New", Courier, monospace; }

/* line 37, core/static/css/pages/lesson.scss */
#editor {
  border-right: 10px solid #3a4958 !important; }

/* line 41, core/static/css/pages/lesson.scss */
.navbar-toggle {
  float: left !important;
  margin-left: 15px; }

/* line 46, core/static/css/pages/lesson.scss */
.modal-nav-content {
  width: 100%;
  height: auto; }

/* line 51, core/static/css/pages/lesson.scss */
.modal-nav-body {
  margin-top: 100px; }
  /* line 54, core/static/css/pages/lesson.scss */
  .modal-nav-body ul {
    width: 100%;
    color: #fff;
    list-style-type: none; }
  /* line 60, core/static/css/pages/lesson.scss */
  .modal-nav-body ul li {
    padding: 8px;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase; }

/* line 68, core/static/css/pages/lesson.scss */
.btn-dark {
  background-color: #30343f; }

/* line 72, core/static/css/pages/lesson.scss */
.btn-dark:hover {
  background-color: #30343f;
  border: 1px solid #30343f; }

/* line 77, core/static/css/pages/lesson.scss */
#activity-cards {
  color: #fdfdfd !important;
  background-color: #4c6085 !important; }

/* line 82, core/static/css/pages/lesson.scss */
#progress-modal {
  background-color: rgba(48, 52, 63, 0.9); }

/* line 86, core/static/css/pages/lesson.scss */
#are-you-sure {
  color: #3a4958 !important; }

/* line 90, core/static/css/pages/lesson.scss */
#prev {
  margin: 2px 2px 2px 2px; }

/* line 94, core/static/css/pages/lesson.scss */
#next {
  margin: 2px 2px 2px 2px; }

/* line 98, core/static/css/pages/lesson.scss */
#results {
  margin: 5px 5px 5px 5px; }

/* line 102, core/static/css/pages/lesson.scss */
#resultCard {
  margin: 5px 5px 5px 5px; }

/* line 106, core/static/css/pages/lesson.scss */
#explainBox {
  display: block;
  width: 100%;
  resize: none; }

/* line 112, core/static/css/pages/lesson.scss */
#select {
  margin-left: 12px; }

/* line 116, core/static/css/pages/lesson.scss */
#radio {
  margin-left: 36px; }

/* line 121, core/static/css/pages/lesson.scss */
.page-section-heading {
  color: #222529;
  border-bottom: 5px solid #4c6085 !important; }

/* line 126, core/static/css/pages/lesson.scss */
.tool-back {
  background: #3a4958 !important; }

/* line 130, core/static/css/pages/lesson.scss */
.sk-chase {
  position: relative;
  width: 5vw;
  height: 5vw;
  margin: auto;
  animation: sk-chase 2.5s infinite linear both; }

/* line 138, core/static/css/pages/lesson.scss */
.sk-chase-dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: sk-chase-dot 2s infinite ease-in-out both; }

/* line 147, core/static/css/pages/lesson.scss */
.sk-chase-dot::before {
  display: block;
  width: 25%;
  height: 25%;
  content: "";
  background-color: #ff8c5f !important;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both; }

/* line 157, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s; }

/* line 161, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s; }

/* line 165, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s; }

/* line 169, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s; }

/* line 173, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s; }

/* line 175, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s; }

/* line 179, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(1)::before {
  animation-delay: -1.1s; }

/* line 183, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(2)::before {
  animation-delay: -1s; }

/* line 187, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(3)::before {
  animation-delay: -0.9s; }

/* line 191, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(4)::before {
  animation-delay: -0.8s; }

/* line 195, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(5)::before {
  animation-delay: -0.7s; }

/* line 199, core/static/css/pages/lesson.scss */
.sk-chase-dot:nth-child(6)::before {
  animation-delay: -0.6s; }

@keyframes sk-chase {
  100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg); } }

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); }
  100%,
  0% {
    transform: scale(1); } }

/* line 227, core/static/css/pages/lesson.scss */
.collapsed {
  display: block;
  margin-left: -25%;
  /* same width as sidebar */ }

/* line 232, core/static/css/pages/lesson.scss */
#row-main {
  overflow-x: hidden;
  /* necessary to hide collapsed sidebar */ }
