@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* General CSS */
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 9, core/static/css/base/_base.scss */
html {
  position: relative;
  min-height: 100%; }

/* line 14, core/static/css/base/_base.scss */
body {
  font-family: roboto, helvetica, arial, sans-serif; }

/* Header-Related CSS */
/* line 19, core/static/css/base/_base.scss */
#page-header {
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 70px;
  background-color: #3a4958 !important; }
  /* line 27, core/static/css/base/_base.scss */
  #page-header .nav-link {
    font-size: 1rem;
    color: #d4c99e !important; }
  /* line 32, core/static/css/base/_base.scss */
  #page-header .nav-link:hover {
    color: #4085b7; }
  /* line 37, core/static/css/base/_base.scss */
  #page-header .navbar-brand {
    color: #fdfdfd !important; }
  /* line 41, core/static/css/base/_base.scss */
  #page-header .navbar-brand:hover {
    color: #4085b7; }
  /* line 46, core/static/css/base/_base.scss */
  #page-header .dropdown-menu {
    min-width: 0; }
  /* line 50, core/static/css/base/_base.scss */
  #page-header .dropdown-item {
    color: #4085b7; }
  /* line 54, core/static/css/base/_base.scss */
  #page-header .dropdown-item:hover {
    color: #fdfdfd !important;
    background-color: #3a4958 !important;
    opacity: 0.15; }
  /* line 61, core/static/css/base/_base.scss */
  #page-header .btn-auth {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 66, core/static/css/base/_base.scss */
  #page-header .btn-auth:hover {
    color: #4085b7;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 73, core/static/css/base/_base.scss */
#site-title {
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 200 !important; }

/* line 4, core/static/css/components/_fade.scss */
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

/* line 22, core/static/css/components/_fade.scss */
.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* Main Layout-Related CSS */
/* line 9, core/static/css/pages/profile.scss */
#page-content {
  min-height: calc(100vh - 70px);
  color: #000 !important; }
  /* line 14, core/static/css/pages/profile.scss */
  #page-content a {
    text-decoration: none; }
  /* line 6, core/static/css/components/_jumbotron.scss */
  #page-content .jumbotron {
    color: #fdfdfd !important;
    background-color: #4c6085 !important; }
  /* line 11, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 16, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron:hover {
    color: #fdfdfd !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 23, core/static/css/pages/profile.scss */
  #page-content nav > .nav.nav-tabs {
    color: #fdfdfd !important;
    background: #ff8c5f !important;
    border: none; }
  /* line 33, core/static/css/pages/profile.scss */
  #page-content nav > div .nav-item.nav-link {
    padding: 18px 25px;
    color: #fdfdfd !important;
    background: #ff8c5f !important; }
    /* line 39, core/static/css/pages/profile.scss */
    #page-content nav > div .nav-item.nav-link:nth-child(n+2) {
      border-left: 2px solid #d4c99e !important;
      border-radius: 0; }
    /* line 45, core/static/css/pages/profile.scss */
    #page-content nav > div .nav-item.nav-link:hover, #page-content nav > div .nav-item.nav-link:focus {
      background: #4c6085 !important;
      transition: background 0.2s linear; }
    /* line 52, core/static/css/pages/profile.scss */
    #page-content nav > div .nav-item.nav-link.active {
      padding: 19px 25px 1px;
      background: #4c6085 !important;
      border: none; }
      /* line 57, core/static/css/pages/profile.scss */
      #page-content nav > div .nav-item.nav-link.active::after {
        position: relative;
        bottom: -23px;
        display: block;
        width: 0;
        height: 0;
        margin: auto;
        content: "";
        border-top: 10px solid #d4c99e !important;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent; }
  /* line 74, core/static/css/pages/profile.scss */
  #page-content .tab-content {
    padding: 30px 25px;
    line-height: 25px;
    background: #fdfdfd !important;
    border-top: 5px solid #d4c99e !important;
    border-right: 1px solid #d4c99e !important;
    border-bottom: 5px solid #d4c99e !important;
    border-left: 1px solid #d4c99e !important; }
  /* line 85, core/static/css/pages/profile.scss */
  #page-content .page-section-heading {
    color: #3a4958 !important;
    border-bottom: 5px solid #4c6085 !important; }

/* line 91, core/static/css/pages/profile.scss */
.lesson-card {
  margin: 50px 50px 50px 50px; }

/* line 95, core/static/css/pages/profile.scss */
#card-img {
  width: 300px;
  height: 180px; }

/* line 100, core/static/css/pages/profile.scss */
.recommended {
  color: #fdfdfd !important;
  background-color: #ff8c5f !important; }

/* line 105, core/static/css/pages/profile.scss */
.select-btn {
  color: #fdfdfd !important;
  background-color: #4c6085 !important; }

/* line 110, core/static/css/pages/profile.scss */
.select-btn:hover {
  color: #fdfdfd !important;
  background-color: #3a4958 !important; }
