{% extends "core/lesson_ui.html" %}
{% load static compress mathfilters %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/lesson.scss' %}" media="screen">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/parsons.scss' %}" media="screen">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/prettify.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block body_js %}
    <!-- JQuery-Related Library -->
    {% include "core/partial/_jquery_lib.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" 
        integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.2/underscore-min.js" 
        integrity="sha512-anTuWy6G+usqNI0z/BduDtGWMZLGieuJffU89wUU7zwY/JhmDzFrfIZFA3PY7CEX4qxmn3QXRoXysk6NBh5muQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- ACE Editor Library -->
    {% include "core/partial/_ace_lib.html" %}

    <!-- Custom Think-Aloud Library -->
    {% include "core/partial/_think_aloud.html" %}

    <script type="application/javascript">
        $(document).ready(function () {
            //this will be done in a load lesson function call
            createEditor("{{ lesson_code | safe }}", "{{ lesson.reason.reasoning_type | safe }}", "{{ lesson.lesson_title | safe }}", "{{ review | safe }}", "{{ past | safe }}", true);
            $("#tutor").attr("class", "nav-item active");
            $("#navbarColor").attr("class", "navbar navbar-expand-lg navbar-dark bg-dark");

            // session recording and transcribing
            initThinkAloudFunctions("{{ audio_record }}" === 'True', "{{ screen_record }}" === 'True', "{{ audio_transcribe }}" === 'True',
                "{{ user_email }}", "{{ index }}", "{{ lesson.lesson_title }}");

            // enable tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        });
        const assignment = {{ assignment.id }};
    </script>

    <!-- Parson's Problem Utilities -->
    <script src="{% static 'javascript/parsons/lis.js' %}"></script>
    <script src="{% static 'javascript/parsons/parsons.js' %}"></script>
    <script src="{% static 'javascript/parsons/parsonsUtils.js' %}"></script>
    <script src="{% static 'javascript/parsons/prettify.js' %}"></script>

    <script type="text/javascript">
        let confirms = "{{ confirms }}";
        let sortCode = "{{ sortCode }}";
        let beginCode = "{{ beginSetCode }}";
        let endCode = "{{ endSetCode }}";
        let comments = "{{ comments }}";
        let parsonsLabel = ""

        {% if hasDistractors %}
            parsonsLabel = "Drag some from here";
        {% else %}
            parsonsLabel = "Drag from here";
        {% endif %}

        var initial = "";
        {% for line in sortCode %}
            initial = initial + "{{ line | safe}}";
            initial = initial + '\n';
        {% endfor %}

        function displayErrors(fb) {
            if (fb.errors.length > 0) {
                //alert(fb.errors[0]);
            }
        } 

        {% if not multiConfirms %}
            $(document).ready(function(){
                var parson = new ParsonsWidget({
                    'sortableId': 'sortable',
                    'trashId': 'sortableTrash',
                    'max_wrong_lines': 1,
                    'feedback_cb' : displayErrors,
                    {% if hasDistractors %}
                        'lang': 'di',
                    {% else %}
                        'lang': 'en',
                    {% endif %}
                });
                parson.init(initial);
                parson.shuffleLines();
                $("#resetCode.btn.btn-danger.btn-inline").click(function(event){
                    event.preventDefault();
                    parson.shuffleLines();

                    let listItems = document.getElementsByTagName("li");
                    for (var i = 0; i < listItems.length; ++i) {
                        if (listItems[i].id.includes("codeline")) {
                            colorCodeSortable(listItems[i].id, false);
                        }
                    }
                });
                $("#feedbackLink.btn.btn-success").click(function(event){
                    getParsonsFeedback(event, "{{ beginSetCode }}", "{{ endSetCode }}",parson, "{{ comments }}");
                });
            });
        {% endif %}

        $(document).ready(function() {
            let listItems = document.getElementsByTagName("li");

            placeholderInd = 0;
            codelineInd = 0;
            for (var i = 0; i < listItems.length; ++i) {
                if (listItems[i].id == "placeholder") {
                    listItems[i].id = "placeholder" + placeholderInd;
                    placeholderInd++;
                }

                if (listItems[i].id == "codeline") {
                    listItems[i].id = "codeline" + codelineInd;
                    codelineInd++;
                }
            }

            for (var i = 0; i < listItems.length; ++i) {
                if (listItems[i].id.includes("codeline")) {
                    {% if multiConfirms %}
                        colorCodeSortable(listItems[i].id, true);
                    {% else %}
                        colorCodeSortable(listItems[i].id, false);
                    {% endif %}
                }
            }

            {% if multiConfirms %}
            let lists = document.getElementsByTagName("ul");
            ind = 0;
            for (var i = 0; i < lists.length; ++i) {
                if (lists[i].id == "ul-sortable") {
                    lists[i].id = "ul-sortable" + ind;
                    ind++;
                }
            }
            {% endif %}

            let confirms = document.getElementsByTagName("div");
            ind = 0;
            for (var i = 0; i < confirms.length; ++i) {
                if (confirms[i].id == "confirm") {
                    confirms[i].id = "confirm" + ind;
                    ind++
                }
            }

            let divs = document.getElementsByTagName("div");

            for (var i = 0; i < divs.length; ++i) {
                if (divs[i].id == "firstSetCode" || divs[i].id.includes("confirm") || divs[i].id == "endSetCode") {
                    colorCodeText(divs[i].id);
                }
            }

            let spacings = document.getElementsByClassName("spacing");
            for (var i = 0; i < spacings.length; ++i) {
                spacings[i].id = "spacing" + i;
                let parsonsHTML = document.getElementById(spacings[i].id).innerHTML;
                document.getElementById(spacings[i].id).innerHTML = "";
                document.getElementById(spacings[i].id).innerHTML = parsonsSpaces + parsonsHTML;
            }

            resizeCodeContainer();

            {% if not multiConfirms %}
                let parsonsHeight = document.getElementById("sortableTrash").offsetHeight;
                let parsonString = "height:" + parsonsHeight + "px";
                document.getElementById("parsons_container").setAttribute("style", parsonString);
            {% endif %}
        });

        $(window).resize(function () {
            resizeCodeContainer();
        });
    </script>
{% endblock %}

{% block activity_description %}
<p>Drag code fragments from the right box to left to reconstruct the code in the correct order to make the Confirm statement true.</p>
{% if not multiConfirms %}
<p>Make sure proper indentation is used.</p>
{% endif %}
{% endblock %}

{% block activity_editor %}
<!-- Ace Editor -->
<div id="editor" class="flex-grow-1 p-0"></div>

<!-- Parson's Problem Container -->
<div id="codeContainer" class="codeContainer">
    <div id="firstSetCode" class="code">
        {{ beginSetCode | safe }}
    </div>
    <div id="parsons_container" class="parsons_container">
        {% if multiConfirms %}
        <div id="sortable_container">
        {% for confirm in confirms %}
            <div id="sortable" class="sortable-code">
                <div id="spacing" class="spacing">
                    <ul id="ul-sortable" class="ui-sortable output" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <li id="placeholder" class="placeholder">
                            Placeholder
                        </li>
                    </ul>
                </div>
            </div>
            <div id="confirm">
                {{ confirm | safe }}
            </div>
        {% endfor %}
        </div>
        <div id="sortableTrash" class="sortable-code">
            <p><script>document.write(parsonsLabel)</script></p>
            <ul id="ul-sortableTrash" class="ui-sortable output" ondrop="drop(event)" ondragover="allowDrop(event)">
                {% for line in sortCode %}
                    <li id="codeline" draggable="true" ondragstart="drag(event)">
                        {{line}}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div id="spacing" class="spacing"></div>
        <div id="sortable" class="sortable-code"></div>
        <div id="sortableTrash" class="sortable-code"></div>
        {% endif %}
    </div>
    <div id="endSetCode">
        {{ endSetCode | safe }}
    </div>
</div>
{% endblock %}

{% block areyousure_modal %}
<!-- AreYouSure Modal -->
<div class="modal fade" id="areYouSure" tabindex="-1" role="dialog" aria-labelledby="areYouSureModalLabel" aria-hidden="true" style="transform: translate(0, 25%);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-dark-50 bg-opacity-25">
                <h5 class="modal-title text-dark">Reset Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body w-100 text-center">
                <span class="text-dark fs-5 fw-bold">Are you sure you want to reset back to the default code template? You will lose your current code.</span>
            </div>
            <div class="modal-footer">
                {% if multiConfirms %}
                <button id="resetCode" class="btn btn-danger btn-inline" type="button" data-bs-toggle="tooltip" title="Reset" onclick="reset(sortCode);">
                {% else %}
                <button id="resetCode" class="btn btn-danger btn-inline" type="button" data-bs-toggle="tooltip" title="Reset">
                {% endif %}
                    Reset
                </button>
                <button type="button" class="btn btn-outline-secondary btn-inline" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block check_correctness_button %}
{% if multiConfirms %}
<button id="feedbackLink" class="btn btn-success" type="button"
    data-bs-toggle="tooltip" data-bs-placement="top" title="Feedback Link" onclick="getMulitConfirmFeedback(event, beginCode, endCode, confirms, comments)">
{% else %}
<button id="feedbackLink" class="btn btn-success" type="button"
    data-bs-toggle="tooltip" data-bs-placement="top" title="Feedback Link">
{% endif %}
    <i class="fas fa-clipboard-check"></i>
    Verify
    <div id="getIndex"></div>
    <div id="csrf">{% csrf_token %}</div>
</button>
{% endblock %}