<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="test.css">
    </head>

    <body>
        <div id="testDiv">
            Facility BeginToReason;
                uses Integer_Ext_Theory;
                (5);
        </div>

        <div id="anotherDiv">
            Operation Main();
    Procedure
        Var I, J, K: Integer;
        Read(I);
        Read(J);
        Read(K);
        </div>

        <div id="divvyDiv">
            Remember;

        If I <= K then
            While (I /= K)
                changing I; -- only I is changed in the loop
                decreasing K + (-I); -- reason for loop termination
            do
        </div>

        <div id="lastDiv">
            I := I + 1;
            end;

            Confirm I /*relational op*/ K;
        end;
    end Main;
end BeginToReason;
        </div>
    </body>

    <script>
        let keywords = ["Facility", "uses", "Operation", "Var", "Remember", "Confirm", "end", "If", "then", "do", "changing", "decreasing", "increasing", "While", "For"];
        let operations = ["<", ">", "<=",">=", "/=", "=", "+", "-", "*", "/", ":="];

        function getDivs() {
            let divs = document.getElementsByTagName("div");

            for (var i = 0; i < divs.length; ++i) {
                colorCodeText(divs[i].id);
            }
        }

        function colorCodeText(divID) {
            let code = document.getElementById(divID).textContent;
            document.getElementById(divID).innerHTML = "";

            let lines = code.trim().split(";");
            for (var i = 0; i < lines.length; ++i) {
                let words = lines[i].split(" ");
                for (var j = 0; j < words.length; j++) {
                    if (keywords.includes(words[j].trim())) {
                        document.getElementById(divID).innerHTML += "<span class=\"keyword\"> " + words[j] + "</span>";
                    }

                    else if (operations.includes(words[j])) {
                        document.getElementById(divID).innerHTML += "<span class=\"operation\"> " + words[j] + "</span";
                    }

                    else if (/\d/.test(words[j])) {
                        for (var k = 0; k < words[j].length; ++k) {
                            if (words[j][k] >= '0' && words[j][k] <= '9') {
                                document.getElementById(divID).innerHTML += "<span class=\"number\">" + words[j][k] + "</span>";
                            }

                            else {
                                document.getElementById(divID).innerHTML += "<span class=\"text\">" + words[j][k] + "</span>";
                            }
                        }
                    }

                    else {
                        document.getElementById(divID).innerHTML += "<span class=\"text\"> " + words[j] + "</span>";
                    }
                }
                if (lines[i] != "" && !lines[i].includes("do")) {
                    console.log(lines[i]);
                    document.getElementById(divID).innerHTML += "<span class=\"text\">;</span>";
                }
            }
        }

        getDivs();
    </script>
</html>