Django==4.2.7
django-ace==1.26.0
django-compressor==4.4
django-libsass==0.9
social-auth-app-django==5.4.0
django-crispy-forms==2.1
django-mathfilters==1.0.0
websockets==12.0
asgiref==3.7.2
python-dotenv==1.0.0