Django==4.1.1
django-ace==1.0.12
django-compressor==4.1
django-libsass==0.9
social-auth-app-django==5.0.0
django-crispy-forms==1.14.0
django-mathfilters==1.0.0
websockets==10.3
asgiref==3.5.2
python-dotenv==0.21.0