// lesson.scss
// This file extends _base to generate all the CSS required to render the lesson page
@import "../base/base";
@import "../components/_progress";
@import "../utils/variables";
@import "../components/_jumbotron.scss";

/* Tutorial Layout-Related CSS */
#page-content {
    height: calc(100vh - #{$page-header-min-height});
    overflow: hidden;

   // Use the jumbotron mixin to generate the necessary CSS code
    @include generateJumbotron($page-content-text-color-light, $page-content-bg-color-1, $page-content-border-color-2);
}

#tutorialCol {
    height: calc(100vh - #{$page-header-min-height});
}

#tutorialContent {
    overflow-x: hidden;
    overflow-y: auto;

    a {
        text-decoration: none;
    }

    .inlineCode {
        font-family: "Courier New", Courier, monospace;
    }
}

#editor {
    border-right: 10px solid #3a4958 !important;
}

.navbar-toggle {
    float: left !important;
    margin-left: 15px;
}

.modal-nav-content {
    width: 100%;
    height: auto;
}

.modal-nav-body {
    margin-top: 100px;

    ul {
        width: 100%;
        color: #fff;
        list-style-type: none;
    }

    ul li {
        padding: 8px;
        font-size: 130%;
        text-align: center;
        text-transform: uppercase;
    }
}

.btn-dark {
    background-color: #30343f;
}

.btn-dark:hover {
    background-color: #30343f;
    border: 1px solid #30343f;
}

#activity-cards {
    background-color: $queen-blue;
    color: $white;
}

#progress-modal {
    background-color: rgba(48,52,63,.8);
}

#are-you-sure {
    color: $charcoal;
}

#dont {
    background-color: $charcoal;
    color: #fff
}

#prev {
    margin: 2px 2px 2px 2px;
}

#next {
    margin: 2px 2px 2px 2px;
}

#results {
    margin: 5px 5px 5px 5px;
}

#resultCard {
    margin: 5px 5px 5px 5px;
}

#explainBox {
    display: block;
    width: 100%;
    resize: none;
}

#select {
    margin-left: 12px;
}

#radio {
    margin-left: 36px;
}

// Section Heading
.page-section-heading {
    color: #222529;
    border-bottom: 5px solid $queen-blue;
}

.ace-chaos .ace_gutter-cell.ace_correct {
    padding-left: 0;
    color: #000;
    background: #5cb85c;
    border-left: none;
}

.tool-back {
    background: $charcoal;
}

.ace-chaos .ace_keyword.ace_operator {
    color: $coral;
}

.ace-chaos .ace_keyword {
    color: #337ab7;
}

.ace-chaos .ace_gutter {
  color: $white
}

/* ACE Editor-Related CSS */
.ace_folding-enabled > .ace_gutter-cell {
    padding-right: 10px;
    padding-left: 30px;
}

.tooltip > .tooltip-inner {
    color: #000;
    background-color: #d3d3d3;
}


.ace-solarized-light .ace_gutter {
  background: #E0E0E0;
  color: $steel-blue
}

.ace-solarized-light .ace_print-margin {
  width: 1px;
  background: #e8e8e8
}

.ace-solarized-light {
  background-color: $white;
  color: $charcoal
}

.ace-solarized-light .ace_cursor {
  color: $steel-blue
}

.ace-solarized-light .ace_marker-layer .ace_selection {
  background: rgba(7, 54, 67, 0.09)
}

.ace-solarized-light.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #FDF6E3;
}

.ace-solarized-light .ace_marker-layer .ace_step {
  background: rgb(255, 255, 0)
}

.ace-solarized-light .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(147, 161, 161, 0.50)
}

.ace-solarized-light .ace_marker-layer .ace_active-line {
  background: #E0E0E0
}

.ace-solarized-light .ace_gutter-active-line {
  background-color : #a0a0a0
}

.ace-solarized-light .ace_marker-layer .ace_selected-word {
  border: 1px solid $steel-blue
}

.ace-solarized-light .ace_invisible {
  color: rgba(147, 161, 161, 0.50)
}

.ace-solarized-light .ace_keyword,
.ace-solarized-light .ace_meta,
.ace-solarized-light .ace_support.ace_class,
.ace-solarized-light .ace_support.ace_type {
  color: #9F41A4
}

.ace-solarized-light .ace_constant.ace_character,
.ace-solarized-light .ace_constant.ace_other {
  color: #CB4B16
}

.ace-solarized-light .ace_constant.ace_language {
  color: #916A22
}

.ace-solarized-light .ace_constant.ace_numeric {
  color: #916A22
}

.ace-solarized-light .ace_fold {
  background-color: #268BD2;
  border-color: #586E75
}

.ace-solarized-light .ace_entity.ace_name.ace_function,
.ace-solarized-light .ace_entity.ace_name.ace_tag,
.ace-solarized-light .ace_support.ace_function,
.ace-solarized-light .ace_variable,
.ace-solarized-light .ace_variable.ace_language {
  color: #268BD2
}

.ace-solarized-light .ace_storage {
  color: #073642
}

.ace-solarized-light .ace_string {
  color: #649E59
}

.ace-solarized-light .ace_string.ace_regexp {
  color: $steel-blue
}

.ace-solarized-light .ace_comment,
.ace-solarized-light .ace_entity.ace_other.ace_attribute-name {
  color: #8A8A8A
}