// lesson.scss
// This file extends _base to generate all the CSS required to render the lesson page
@import "../base/base";
@import "../components/_ace";
@import "../components/_overlay.scss";
@import "../components/_jumbotron.scss";
@import "../components/_smiley.scss";
@import "../components/_stepbar.scss";
@import "../utils/variables";

/* Tutorial Layout-Related CSS */
#page-content {
    height: calc(100vh - #{$page-header-min-height});
    overflow: hidden;
}

/* Tutorial Content Column-Related CSS */
#tutorialCol {
    height: calc(100vh - #{$page-header-min-height});

    // Use the jumbotron mixin to generate the necessary CSS code
    @include generateJumbotron($page-content-text-color-light, $page-content-bg-color-1, $page-content-border-color-2);
}

#tutorialContent {
    overflow-x: hidden;
    overflow-y: auto;

    a {
        text-decoration: none;
    }

    .inlineCode {
        font-family: "Courier New", Courier, monospace;
    }

    // Section Heading
    .page-section-heading {
        color: $charcoal;
        border-bottom: 5px solid $queen-blue;
    }
}

#pastAnswers {
    color: $page-content-text-color-light; 
    font-family: "Courier New", Courier, monospace; 
    font-weight: bold;
}

/* View Lessons OffCanvas-Related CSS */
#offcanvasViewLessons {
    background-color: $page-content-bg-color-3;
    z-index: 2000;

    a {
        text-decoration: none;
    }

    ol li {
        background-color: $page-content-bg-color-3;
    }
}

/* Editor Content Column-Related CSS */
#editor {
    border-right: 10px solid #3a4958 !important;
}

#editorToolbar {
    background-color: $page-content-bg-color-5;
}

#prev {
    margin: 2px 2px 2px 2px;
}

#next {
    margin: 2px 2px 2px 2px;
}

/* Results Content Column-Related CSS */
#results {
    margin: 5px 5px 5px 5px;
}

#resultCard {
    width: 100%;
}

#explainCard {
    width: 100%;
}

#explainBox {
    display: block;
    width: 100%;
    resize: none;
}

#select {
    margin-left: 12px;
}

#radio {
    margin-left: 36px;
}
