// lesson.scss
// This file extends _base to generate all the CSS required to render the lesson page
@import "../base/base";
@import "../components/_progress";
@import "../utils/variables";

/* Tutorial Layout-Related CSS */
#page-content {
    height: calc(100vh - 160px);
    overflow: hidden;
}

#tutorialCol {
    height: calc(100vh - 160px);
}

#tutorialContent {
    overflow-x: hidden;
    overflow-y: auto;

    a {
        text-decoration: none;
    }

    .inlineCode {
        font-family: "Courier New", Courier, monospace;
    }
}

#editor {
    border-top: 5px solid #141414 !important;
    border-bottom: 5px solid #141414 !important;
}

.navbar-toggle {
    float: left !important;
    margin-left: 15px;
}

.modal-nav-content {
    width: 100%;
    height: auto;
}

.modal-nav-body {
    margin-top: 100px;

    ul {
        width: 100%;
        color: #fff;
        list-style-type: none;
    }

    ul li {
        padding: 8px;
        font-size: 130%;
        text-align: center;
        text-transform: uppercase;
    }
}

.btn-dark {
    background-color: #30343f;
}

.btn-dark:hover {
    background-color: #30343f;
    border: 1px solid #30343f;
}

.ace-chaos .ace_gutter-cell.ace_correct {
    padding-left: 0;
    color: #000;
    background: #58c554;
    border-left: none;
}

.tool-back {
    background: #3a4958;
}

.ace-chaos .ace_keyword.ace_operator {
    color: #ff8c5f;
}

.ace-chaos .ace_keyword {
    color: #337ab7;
}

/* ACE Editor-Related CSS */
.ace_folding-enabled > .ace_gutter-cell {
    padding-right: 10px;
    padding-left: 30px;
}

.tooltip > .tooltip-inner {
    color: #000;
    background-color: #d3d3d3;
}
