// login.scss
// This file generates all the CSS required to render the sign-in page
@import "../base/_base";
@import "../components/_fade";
@import "../utils/_variables";

/* General CSS */
html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $page-content-bg-color-1;
    font-family: $body-font;
    font-size: 1.5rem;
}

/* Main Layout-Related CSS */
#page-content {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
    color: $page-content-text-color-dark;

    // Links
    a {
        text-decoration: none;
    }
}

/* Site Title CSS */
#site-title {
    font-family: $page-header-site-title-font;
    font-size: 2rem;
    font-weight: 200 !important;
}

/* Sign In-Related CSS */
#sign-in-card {
    background-color: $page-content-bg-color-1;
}