// login.scss
// This file extends _base to generate all the CSS required to render the sign-in page
@import "../base/_base";
@import "../components/_fade";
@import "../utils/_variables";

/* Main Layout-Related CSS */
#page-content {
    min-height: calc(100vh - #{$page-header-min-height});
    color: $page-content-text-color-dark;

    // Links
    a {
        text-decoration: none;
    }
}

/* Sign In-Related CSS */
#sign-in-hero {
    background-color: $page-content-bg-color-1;
}

#sign-in-card {
    background-color: $page-content-bg-color-1;

    .btn-login {
        color: $page-content-border-color-2;
        border-color: $page-content-border-color-2;
    }

    .btn-login:hover {
        color: $page-content-text-color-light;
        background-color: $page-content-border-color-2;
        border-color: $page-content-border-color-2;
    }
}