/** Stylesheet for the puzzles */
.keyword
.operation
.number
.text{
    white-space: break-spaces;  
}

.keyword{
    color: rgb(255, 232, 0);
}

.operation{
    color: #4085b7;
}

.number{
    color: #58C554;
}

.text{
    color: white;
}

.spacing {
    display: flex;
}

.placeholder {
    visibility: hidden;
}

.parsons_container {
    display: flex;
    position: relative;
    width: 75%;
}

.codeContainer {
    display: column;
    z-index: 4;
    position: absolute;
    color: #fff;
    background-color: #161616;
    overflow: auto;
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", monospace;
    font-size: 19px;
    font-style: normal;
}

.sortable_container {
    display: column;
    flex-direction: column;
}

#text_container {
    display: flex;
    flex-direction: column
}

.sortable-code {
    padding-left: 0px;
    margin-left: 2%; 
    color: #fff;
    width: 30%;
    position: relative;
    left: 35%;
}

#sortableTrash { position: absolute;
                left: 80%;
                width: 30%;
}

#sortable { width: 35%;
            left: 0%;
            position: relative;
}

.sortable-code ul {
    font-size: 80%;
    font-family: monospace;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
}

.sortable-code ul:empty {
  padding-bottom: 30px;
}

.sortable-code li, .sortable-code li:before, .sortable-code li:after {
  box-sizing: content-box;
}

ul.output {
    background-color: rgba(48, 52, 63, 0.9);
    top: 0%;
}

.sortable-code li {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    background-color:rgba(48, 52, 63, 0.9);
    padding:10px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: move;
}

.sortable-code li:hover {
    overflow: visible;
}

li.incorrectIndent {
    border-left: 10px solid #f00;
}

li.correctIndent {
    //border-left: 10px solid rgb(253, 253, 253);
}

li.incorrectPosition, .testcase.fail, .testcase.error {
    background-color: #rgba(48, 52, 63, 0.9);
}

li.correctPosition, .testcase.pass {
    background-color: #rgba(48, 52, 63, 0.9);
}

.testcase { padding: 10px; margin-bottom: 10px;}

.testcase .msg { font-weight: bold; }

.testcase .error { color: #f00;}

.testcase .feedback { font-weight: bolder;}

.testcase .fail .expected, .testcase .fail .actual {
    color: #f00; 
    font-weight: bolder;
}

.testcase .output { 
    display: block; 
    white-space: pre; 
    font-size: 12px;
    color: #fff;
    background-color: #555;
    padding: 5px;
    margin: 5px;
    line-height: 15px;

}

/** For styling the toggleable elements */
.jsparson-toggle {
    display: inline-block;
    padding: 0 15px;
    z-index: 500;
    border: 1px dashed #000;
    min-width: 10px;
    min-height: 15px;
    cursor: pointer;
}

.jsparson-toggle:empty {
    border-color: #f00;
}

.jsparson-toggle:empty::before {
    display: block;
    content: "??";
    color: #f00;
}
