// sections.scss
// This file extends _base to generate all the CSS required to render a page that has a sections layout.
@import "../base/base";
@import "../components/backtotop";
@import "../components/fade";
@import "../components/jumbotron";
@import "../utils/variables";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

/* Main Layout-Related CSS */
#page-content {
    min-height: calc(100vh - #{$page-header-min-height});
    color: $page-content-text-color-dark;

    // Links
    a {
        text-decoration: none;
    }

    // Use the jumbotron mixin to generate the necessary CSS code
    @include generateJumbotron($page-content-text-color-light, $page-content-bg-color-1, $page-content-border-color-2);

    // Section Heading
    .page-section-heading {
        color: $charcoal;
        border-bottom: 5px solid $page-content-border-color-1;
    }

    // List Styling for My Classes
    ol {
        list-style: none;
        counter-reset: any-name;
    }

    ol li {
        counter-increment: any-name;

        h5 {
            color: $page-content-text-color-4;
        }
    }

    li::before {
        font-family: "Abril Fatface", serif;
        font-size: 2.5rem;
        font-weight: 700;
        color: $page-content-text-color-3;
        content: counter(any-name);
    }
}

#jumbo-note {
    color: $page-content-text-color-3;
}
