{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/catalog.scss' %}" media="screen">
<link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
{% endcompress %}
{% endblock %}

{% block main_content %}
<div class="container-fluid" style="background-color: white">
    <div id="graphDisplay" class="row" style="margin-top: 15px">
        <h1 id="graphTitle" class="col-12" style="text-align: center"></h1>
        <div class="col-2">
            <h3 class="text-center">Lesson Code</h3>
            <div id="graphCode" style="max-height: 50vh; overflow: auto; background-color: #CCC; padding: 5px"></div>
        </div>
        <div class="col-8">
            <svg id="lessonGraph" class="col-12"></svg>
        </div>
        <div style="display: flex; flex-direction: column" class="col-2">
            <h3 class="text-center">Selected Answer</h3>
            <div id="nodeInfo" style="border: 1px solid black">
                <h4 id="nodeName">Name: </h4>
                <h4 id="nodeAppearances">Appearances: </h4>
                <h4 id="nodeDistance">Distance: </h4>
                <h4 id="nodeCorrect">Correct: </h4>
            </div>
        </div>
    </div>
</div>
<script>
    var graph = graph || {}
    graph.data = {{graphData|safe}}
    graph.lesson = {{lessonData|safe}}
</script>
<script src="{% static 'javascript/d3graph/d3.v4.js' %}"></script>
<script src="{% static 'javascript/d3graph/d3graph.js' %}"></script>
{% endblock %}

