{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/catalog.scss' %}" media="screen">
<link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
{% endcompress %}
{% endblock %}

{% block main_content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="font-weight-bold" id="jumbo-title">
            Full Catalog
        </h1>
    </div>
</div>
<div style="display: flex;">
    <h2 style="margin-left: 20px; display: inline">{{lessonSetInfo.name | safe}}</h2>
    <div class="form-outline" style="margin-left: 40px;">
        <input type="search" id="lessonSearch" class="form-control" placeholder="Search Lessons"
        aria-label="Search" />
    </div>
</div>
<div id="lessonContainer" class="d-flex align-items-center no-gutters" style="width: 100vw; overflow-x: scroll;">
</div>
<script type="application/javascript">
    $(document).ready(function () {
        document.getElementById("top").style.display = "none";
    });

    var mybutton = document.getElementById("top");
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
    var lessonSetData = {{lessonSetData | safe}}
    var lessonSetInfo = {{lessonSetInfo | safe}}
</script>
<script src="{% static 'javascript/setStats/setStats.js' %}"></script>
{% endblock %}