// _ace.scss
// stlye adjustments for ace editor
@import "../utils/variables";

.ace-chaos .ace_gutter-cell.ace_correct {
    padding-left: 0;
    color: #000;
    background: #5cb85c;
    border-left: none;
}

.ace-chaos .ace_keyword.ace_operator {
    color: #4085b7;
}

.ace-chaos .ace_keyword {
    color: #ffe800;
}

.ace-chaos .ace_gutter {
    color: $white;
}

.ace-chaos .ace_comment,
.ace-chaos .ace_entity.ace_other.ace_attribute-name {
    color: #ff00e7;
}

/* ACE Editor-Related CSS */
.ace_folding-enabled > .ace_gutter-cell {
    padding-right: 10px;
    padding-left: 30px;
}

.tooltip > .tooltip-inner {
    color: #000;
    background-color: #d3d3d3;
}

.ace-solarized-light .ace_gutter-cell.ace_correct {
    padding-left: 0;
    color: #000;
    background: #5cb85c;
    border-left: none;
}

.ace-solarized-light .ace_gutter {
    color: $steel-blue;
    background-color: #c8c8c8;
}

.ace-solarized-light .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
}

.ace-solarized-light {
    color: $charcoal;
    background-color: #f0f0f0;
}

.ace-solarized-light .ace_cursor {
    color: $steel-blue;
}

.ace-solarized-light .ace_marker-layer .ace_selection {
    background: #07364317;
}

.ace-solarized-light.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0 #fdf6e3;
}

.ace-solarized-light .ace_marker-layer .ace_step {
    background: #ff0;
}

.ace-solarized-light .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid #93a1a180;
}

.ace-solarized-light .ace_marker-layer .ace_active-line {
    background: #e0e0e0;
}

.ace-solarized-light .ace_gutter-active-line {
    background-color: #bfbfbf;
}

.ace-solarized-light .ace_marker-layer .ace_selected-word {
    border: none;
}

.ace-solarized-light .ace_invisible {
    color: #93a1a180;
}

.ace-solarized-light .ace_keyword,
.ace-solarized-light .ace_meta,
.ace-solarized-light .ace_support.ace_class,
.ace-solarized-light .ace_support.ace_type {
    color: #000bff;
}

.ace-solarized-light .ace_constant.ace_character,
.ace-solarized-light .ace_constant.ace_other {
    color: #cb4b16;
}

.ace-solarized-light .ace_constant.ace_language {
    color: #b33600;
}

.ace-solarized-light .ace_constant.ace_numeric {
    color: #b33600;
}

.ace-solarized-light .ace_fold {
    background-color: #268bd2;
    border-color: #586e75;
}

.ace-solarized-light .ace_entity.ace_name.ace_function,
.ace-solarized-light .ace_entity.ace_name.ace_tag,
.ace-solarized-light .ace_support.ace_function,
.ace-solarized-light .ace_variable,
.ace-solarized-light .ace_variable.ace_language {
    color: #268bd2;
}

.ace-solarized-light .ace_storage {
    color: #073642;
}

.ace-solarized-light .ace_string {
    color: #649e59;
}

.ace-solarized-light .ace_string.ace_regexp {
    color: #b33600;
}

.ace-solarized-light .ace_comment,
.ace-solarized-light .ace_entity.ace_other.ace_attribute-name {
    color: #8a8a8a;
}
