// _jumbotron.scss
// This contains the default CSS for displaying a jumbotron.

// Jumbotron
@mixin generateJumbotron($text-color, $bg-color, $border-color) {
    .jumbotron {
        color: $text-color;
        background-color: $bg-color;
    }

    .btn-jumbotron {
        color: $border-color;
        border-color: $border-color;
    }

    .btn-jumbotron:hover {
        color: $text-color;
        background-color: $border-color;
        border-color: $border-color;
    }
}
