// smiley.scss
// Simple CSS3 Progress Overlay

// Custom radio buttons
form {
    &#smileys {
        input {
            appearance: none;
            width: 60px;
            height: 60px;
            margin: 5px 5px 5px;
            cursor: pointer;
            filter: grayscale(100%);
            border: none;
            transition: all 0.2s ease;

            &:hover,
            &:checked {
                filter: grayscale(0);
            }

            &:focus {
                outline: 0;
            }

            &.excited {
                background-image: url("../../images/excitedFace.png");
                background-size: cover;
            }

            &.happy {
                background-image: url("../../images/happyFace.png");
                background-size: cover;
            }

            &.neutral {
                background-image: url("../../images/neutralFace.png");
                background-size: cover;
            }

            &.sad {
                background-image: url("../../images/sadFace.png");
                background-size: cover;
            }

            &.upset {
                background-image: url("../../images/upsetFace.png");
                background-size: cover;
            }
        }
    }
}
