// smiley.scss
// Simple CSS3 Progress Overlay

// Custom radio buttons
form {
    &#smileys {
        input {
            appearance: none;
            width: 25px;
            height: 25px;
            cursor: pointer;
            filter: grayscale(100%);
            border: none;
            transition: all 0.2s ease;

            // Medium devices (tablets, 768px and up)
            @media (min-width: 768px) {
                width: 30px;
                height: 30px;
            }

            // Large devices (desktops, 992px and up)
            @media (min-width: 992px) {
                width: 45px;
                height: 45px;
            }

            // XX-Large devices (larger desktops, 1400px and up)
            @media (min-width: 1400px) {
                width: 60px;
                height: 60px;
            }

            &:hover,
            &:checked {
                filter: grayscale(0);
            }

            &:focus {
                outline: 0;
            }

            &.excited {
                background-image: url("../../images/excitedFace.png");
                background-size: cover;
            }

            &.happy {
                background-image: url("../../images/happyFace.png");
                background-size: cover;
            }

            &.neutral {
                background-image: url("../../images/neutralFace.png");
                background-size: cover;
            }

            &.sad {
                background-image: url("../../images/sadFace.png");
                background-size: cover;
            }

            &.upset {
                background-image: url("../../images/upsetFace.png");
                background-size: cover;
            }
        }
    }
}
