{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <div class="jumbotron jumbotron-fluid py-5 mb-0">
        <div class="container p-0">
            <div class="row">
                <div class="col-8 col-lg-6">
                    <div class="card border-0" style="background-color: inherit;">
                        <div class="row no-gutters">
                            <div class="col-md-4 align-self-center">
                                <img src="{% static 'images/logo4.png' %}" class="card-img" alt="RSRG Logo 4">
                                <div class="d-flex py-2 justify-content-center">
                                    <a href="{% url 'accounts:settings' %}" class="btn btn-sm btn-jumbotron"
                                       role="button"
                                       aria-pressed="true">Edit Profile</a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="card-title m-0 text-white text-uppercase font-weight-bolder">{{ name }}</h2>
                                    <p class="card-text m-0 text-white">
                                        <i class="far fa-envelope mr-2"></i>
                                        {{ user.email }}
                                    </p>
                                    <p class="card-text m-0 text-white">
                                        <i class="far fa-calendar-alt mr-2"></i>
                                        {{ user.date_joined | date:"F j, Y" }}
                                        <span class="badge badge-info ml-2">Date Joined</span>
                                    </p>
                                    <p class="card-text m-0 text-white">
                                        <i class="far fa-calendar-alt mr-2"></i>
                                        {{ user.last_login }}
                                        <span class="badge badge-info ml-2">Last Logged In</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2></h2>
                </div>
                <div class="col-4 col-lg-6 align-self-center">
                    <div class="card border-0 float-right" style="background-color: inherit;">
                        <p class="card-text m-0 text-white">
                            <span class="text-white-50">Lessons Completed:</span> 0
                        </p>
                        <p class="card-text m-0 text-white">
                            <span class="text-white-50">Sets Completed:</span>
                            {% if user.is_authenticated %}
                                {% if user.userinformation.completed_sets == None %}
                                    0
                                {% else %}
                                    1
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="card-text m-0 text-white">
                            <span class="text-white-50">Current Daily Streak:</span> 0
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-0 py-3">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-courses-tab" data-toggle="tab"
                           href="#nav-courses"
                           role="tab" aria-controls="nav-courses" aria-selected="true">Courses</a>
                        <a class="nav-item nav-link" id="nav-badges-tab" data-toggle="tab" href="#nav-badges"
                           role="tab" aria-controls="nav-badges" aria-selected="false">Badges</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-courses" role="tabpanel"
                         aria-labelledby="nav-courses-tab">
                        <div class="page-section-heading my-3">
                            <h3>Start New Set</h3>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <a href="{% url 'tutor:catalog' %}" class="btn select-btn btn-block" role="button" aria-pressed="true">Go To Activity Catalog</a>
                            </div>
                        </div>
                        <div class="page-section-heading my-3">
                            <h3>In Progress</h3>
                        </div>
                        {% for obj in LessonSet %}
                            {% if user.is_authenticated %}
                                {% if user.userinformation.current_lesson_set == obj %}
                                    <div class="my-4">
                                        <div class="card" style="background-color: inherit;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img src="{% static 'images/begin.png' %}" class="card-img" alt="Lesson Logo">
                                                </div>
                                                <div class="col-md-8 align-self-center">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{obj}} <span class="badge recommended">In Progress</span></h5>
                                                        <p class="card-text">{{obj.set_description}}</p>
                                                        <p class="card-text"><small class="text-muted">Last attempted: {{ user.last_login }}</small></p>
                                                        <form action="{% url 'tutor:tutor' %}" method="GET">
                                                            {% csrf_token %}
                                                            <button class="inpro select-btn btn-block" type="submit" aria-pressed="true">
                                                                Continue Training
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card mb-3">
                                    <img class="card-img-top" src="{% static 'images/none.png' %}" alt="Card image cap">
                                        <div class="card-body">
                                            <a href="{% url 'tutor:catalog' %}" class="btn select-btn btn-block" role="button" aria-pressed="true">Go To Activity Catalog</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="page-section-heading my-3">
                            <h3>Completed</h3>
                        </div>
                        {% if user.is_authenticated %}
                            {% if user.userinformation.completed_sets == None %}

                            {% else %}
                                <div class="my-4">
                                    <div class="card" style="background-color: inherit;">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="{% static 'images/begin.png' %}" class="card-img" alt="Lesson Logo">
                                            </div>
                                            <div class="col-md-8 align-self-center">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{user.userinformation.completed_sets}} <span class="badge recommended">Completed</span></h5>
                                                    <h5 class="card-title"><span class="badge badge-success">Author ID: 869134018</span></h5>
                                                    <p class="card-text">{{user.userinformation.completed_sets.set_description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="nav-badges" role="tabpanel" aria-labelledby="nav-badges-tab">
                        <div class="card-deck">
                            {% if user.is_authenticated %}
                                {% if user.userinformation.completed_sets == None %}

                                {% else %}
                                    <div class="my-4">
                                        <div class="card" style="background-color: inherit;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4">
                                                    <img src="{% static 'images/begin.png' %}" class="card-img" alt="Lesson Logo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}