{% extends "core/base.html" %}
{% load static compress crispy_forms_tags %

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/signin.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block header_navigation_links %}
    {% if user.is_authenticated %}
        <li class="nav-item ml-3">
            <a class="nav-link pb-0" href="{% url 'tutor:tutor' %}">Tutor</a>
        </li>
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="card w-50 mt-3 mx-auto shadow-lg rounded fadeInDown text-center">
            <div class="card-body">
                <img class="mb-4" src="{% static 'images/logo4.png' %}" width="300" height="125"
                     alt="RSRG Logo 4">
                <h2 class="card-title">Please Fill In Missing Information</h2>
                    <form action="{% url 'accounts:profile' %}" method="POST">{% csrf_token %}
                        {{ form.user_email|as_crispy_field }}
                        {{ form.user_name|as_crispy_field }}
                        <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ form.user_school|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ form.user_class|as_crispy_field }}
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ form.user_gender|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ form.user_race|as_crispy_field }}
                          </div>
                        </div>
                        <button type="submit" class="btn" style="background-color: #3a4958; color: #fff" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Confirm
                        </button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}
