{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome {{ user.email }} <a href="#" class="btn btn-lg btn-jumbotron" role="button"
                                            aria-pressed="true">Edit Profile</a></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-0">
                <div class="container">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/logo4.png' %}" height="175" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ name }}</h5>
                            <p class="card-text">Date Joined On {{ user.date_joined | date:"F d, Y"  }}</p>
                            <p class="card-text">Last Logged In On {{ user.last_login }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Lessons Completed: 0</li>
                            <li class="list-group-item">Sets Completed: 0</li>
                            <li class="list-group-item">Current Daily Streak: 0</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-8 p-0">
                <div class="card-group">
                    <div class="card" id="badges">
                        <img src="{% static 'other_images/placeholder.png' %}" class=" card-img-top">
                    </div>
                    <div class="card" id="badges">
                        <img src="{% static 'other_images/placeholder.png' %}" class="card-img-top">
                    </div>
                    <div class="card" id="badges">
                        <img src="{% static 'other_images/placeholder.png' %}" class="card-img-top">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
