{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block header_navigation_links %}
    {% if user.is_authenticated %}
        <li class="nav-item ml-3">
            <a class="nav-link pb-0" href="{% url 'tutor:tutor' %}">Tutor</a>
        </li>
    {% endif %}
{% endblock %}

{% block main_content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome {{ user.email }} <a href="#" class="btn btn-lg btn-jumbotron" role="button"
                                            aria-pressed="true">Edit Profile</a></h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-0">
                <div class="container">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'images/logo4.png' %}" width="300" height="125" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.username }}</h5>
                            <p class="card-text">Last Logged In On {{ user.last_login }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Lessons Completed: 0</li>
                            <li class="list-group-item">Sets Completed: 0</li>
                            <li class="list-group-item">Current Daily Streak: 0</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-9 p-0">
                
            </div>
        </div>
    </div>
{% endblock %}
