{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/layout/sections.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <!--- Custom Jumbotron -->
    <div class="container-fluid jumbotron mb-4 py-5">
        <div class="container">
            <h1 class="font-weight-bold display-6 text-center mb-3">
                Classes
            </h1>
            <h6 id="jumbo-note" class="font-weight-bold text-center">
                <strong class="text-uppercase">Note:</strong> Please continue working on an assignment or use a code to join a new class.
            </h6>
        </div>
    </div>

    <!-- Catalog of Classes Section -->
    <div class="container pb-5 mb-5">
        <div class="">
            <button type="button" class="position-fixed btn btn-danger btn-lg" id="btn-back-to-top">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% else %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                {% endif %}
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="page-section-heading my-2">
            <div class="d-flex justify-content-between my-1">
                <h3>My Classes</h3>
                <button type="button" class="btn btn-primary btn-sm me-lg-5 me-3" data-bs-toggle="modal" data-bs-target="#joinClassModal">
                    Join a class
                </button>
            </div>
        </div>
        <div class="row mx-3 mb-5">
            <ol class="list-group list-group-flush">
            {% for class in classes %}
                <li class="list-group-item d-flex justify-content-between align-items-start mt-3">
                    <div class="ms-4 me-auto">
                        <h5>{{ class }}</h5>
                        {% if class.next_lesson_due_date %}
                        <p>Next lesson due: {{ class.next_lesson_due_date }}</p>
                        {% else %}
                        <p>No current assignments!</p>
                        {% endif %}
                    </div>
                    <a class="btn btn-outline-success btn-block" href="{% url 'core:class' classID=class.id %}" aria-pressed="true">View Class</a>
                </li>
            {% endfor %}
            </ol>
        </div>
    </div>

    <!-- Join Class Modal -->
    <div class="modal fade" id="joinClassModal" tabindex="-1" role="dialog" aria-labelledby="joinClassModalLabel" aria-hidden="true" style="transform: translate(0, 25%);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-secondary text-dark-50 bg-opacity-25">
                    <h5 class="modal-title" id="joinClassModalLabel">Enter the Join Code:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'core:classes' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="class-code" name="class-code" placeholder="Code" required>
                            <label for="class-code">Code</label>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <button type="submit" class="btn btn-success" aria-expanded="true">Join</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Back To Top -->
    <script src="{% static 'javascript/components/backToTop.js' %}"></script>

    <!-- Page Footer -->
    {% include "core/partial/_footer.html" %}
{% endblock %}