{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/index.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <!--- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Learn to reason through exercises using our smart code verification tutor</h1>
            <p>Not sure where to begin?</p>
            <a href="{% url 'accounts:login' %}" class="btn btn-lg btn-jumbotron" role="button"
               aria-pressed="true">Get Started</a>
        </div>
    </div>

    <!-- Introduction to BeginToReason -->
    <div class="container">
        <h2>What is BeginToReason?</h2>
        {% lorem 5 p %}
    </div>
{% endblock %}
