{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/catalog.scss' %}" media="screen">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="font-weight-bold" id="jumbo-title">
                    Full Catalog
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 p-0">
            </div>
            <div class="col-10 p-0">
                <h1 class="mb-0 page-section-heading">
                    Available Lessons
                </h1>
                {% for obj in LessonSet %}
                    {% if user.is_authenticated %}
                        {% if user.userinformation.current_lesson_set == obj %}
                            <div id="begin" class="card lesson-card">
                                <div class="card-horizontal">
                                    <div class="card-body text-center">
                                        <a href="{% url 'accounts:profile' %}" class="btn select-btn btn-block" role="button" aria-pressed="true">Go To Sets in Progress</a>
                                    </div>
                                </div>
                            </div>
                        {% elif user.userinformation.completed_sets == obj %}
                            <div id="begin" class="card lesson-card">
                                <div class="card-horizontal">
                                    <div class="img-square-wrapper">
                                        <img class="" src="{% static 'images/logo4.png' %}" id="card-img" alt="Card image cap">
                                    </div>
                                    <div class="card-body text-center">
                                        <h1 class="card-title">No New Sets Available</h1>
                                        <a href="{% url 'accounts:profile' %}" class="btn select-btn btn-block" role="button" aria-pressed="true">Go To Profile to review completed sets.</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div id="begin" class="card lesson-card">
                                <div class="card-horizontal">
                                    <div class="img-square-wrapper">
                                        <img class="" src="{% static 'images/begin.png' %}" id="card-img" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{obj}} <span class="badge recommended">Recommended</span></h5>
                                        <p class="card-text">{{obj.set_description}}</p>
                                        <form action="{% url 'tutor:catalog' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="set_name" value="{{ obj }}"/>
                                            <button class="btn select-btn btn-block" type="submit" aria-pressed="true">
                                                Start Training
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                         <div id="begin" class="card lesson-card">
                                <div class="card-horizontal">
                                    <div class="img-square-wrapper">
                                        <img class="" src="{% static 'images/begin.png' %}" id="card-img" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{obj}} <span class="badge recommended">Recommended</span></h5>
                                        <p class="card-text">{{obj.set_description}}</p>
                                        <form action="{% url 'tutor:catalog' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="set_name" value="{{ obj }}"/>
                                            <button class="btn select-btn btn-block btn-lg" type="submit" aria-pressed="true">
                                                Start Training
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="col-1 p-0">
            </div>
            <button onclick="topFunction()" id="top" title="Go to top"><i class="fas fa-arrow-up"></i></button>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            document.getElementById("top").style.display = "none";
        });

        var mybutton = document.getElementById("top");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
            if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
                mybutton.style.display = "block";
            } else {
            mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}