{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/classes.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <!--- Custom Jumbotron -->
    <div class="container-fluid jumbotron mb-4 py-5">
        <div class="container">
            <h1 class="font-weight-bold display-6 text-center mb-3">
                Catalog of Classes
            </h1>
            <h6 id="jumbo-note" class="font-weight-bold text-center">
                <strong class="text-uppercase">Note:</strong> Please select one of the following classes to get started.
            </h6>
        </div>
    </div>

    <!-- Catalog of Classes Section -->
    <div class="container pb-5 mb-5">
        <div class="">
            <button type="button" class="position-fixed btn btn-danger btn-lg" id="btn-back-to-top">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
        <div class="row mb-5">
            <div class="col-12 px-5">
                <div class="page-section-heading my-3">
                    <h3>My Classes</h3>
                </div>
                <h1 class="mb-0 page-section-heading row">
                    <div class="col-10">
                        <h3>My Classes</h3>
                    </div>
                    <div class="col-2">
                        <btn class="btn select-btn btn-block float-right" data-toggle="modal" data-target="#joinClassModal">Join a class</btn>
                    </div>
                </h1>
                {% for class in classes %}
                    <div id="begin" class="card lesson-card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="" src="{% static 'images/begin.png' %}" id="card-img" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{class}}</h5>
                                {% if class.next_lesson_due_date %}
                                <p class="card-text">Next lesson due: {{ class.next_lesson_due_date }}</p>
                                {% else %}
                                <p class="card-text">No current assignments!</p>
                                {% endif %}
                                <a href="{% url 'tutor:class' classID=class.id %}">
                                    <button class="btn select-btn btn-block" type="submit" aria-pressed="true">
                                        View Class
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="joinClassModal" tabindex="-1" role="dialog" aria-labelledby="joinClassModalLabel" aria-hidden="true" style="transform: translate(0, 25%);">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{% url 'tutor:classes' %}">{% csrf_token %}
              <div class="modal-header">
                <h5 class="modal-title" id="joinClassModalLabel">New class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                    <label for="class-code" class="col-form-label">Class join code:</label>
                    <input type="text" class="form-control" id="class-code" name="class-code" required maxlength="6">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Join" class="btn select-btn">
              </div>
            </form>
        </div>
      </div>
    </div>

    <!-- Back To Top -->
    <script src="{% static 'javascript/components/backToTop.js' %}"></script>

    <!-- Page Footer -->
    {% include "core/footer.html" %}
{% endblock %}