{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/lesson.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block body_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"
            integrity="sha256-qCCcAHv/Z0u7K344shsZKUF2NR+59ooA3XWRj0LPGIQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-chaos.min.js"
            integrity="sha256-ck2clJ3aqYWprrGnnBxu1OCoEh54qkccsXRguhaZyuo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-solarized_light.min.js"
            integrity="sha256-wkmiQVrgQL4Fyvl50xeBpdR27forCEggA78Up2pu3xs=" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/lesson/mode-resolve.js' %}"></script>
    <script src="{% static 'javascript/lesson/editorUpdate.js' %}"></script>

    <script src="{% static 'javascript/sessionRecording/sessionRecording.api.js' %}"></script>
    <script src="{% static 'javascript/sessionRecording/sessionRecording.utils.js' %}"></script>
    <script src="{% static 'javascript/sessionRecording/speechToText.utils.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            createEditor();
            $("#next").attr("disabled", "disabled");
            $("#tutor").attr("class", "nav-item active");
            $("#navbarColor").attr("class", "navbar navbar-expand-lg navbar-dark bg-dark");

            // session recording and transcribing
            //setupRecording(); // for recording a session
            //transcribeAudio(); // for transcribing audio
        });
    </script>
{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-0 border-right">
                <div id="tutorialCol" class="d-flex flex-column">
                    <!-- Tutorial Content -->
                    <div id="tutorialContent" class="p-3">
                        <br>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="mb-0 text-center" id="lessonName">
                                        Lesson Name
                                    </h1>
                                </div>
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-block" id="activity-cards"
                                                data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Activity
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body" id="activity">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-block collapsed"
                                                id="activity-cards"
                                                data-toggle="collapse"
                                                data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                            Reference Material
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                     data-parent="#accordion">
                                    <div class="card-body" id="referenceMaterial">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <button class="btn btn-block collapsed"
                                            id="activity-cards"
                                            data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        About
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                     data-parent="#accordion">
                                    <div class="card-body" id="about">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Progress Modal -->
            <div class="modal fade" id="progress-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-nav-content">
                        <div class="modal-nav-body bg-dark text-white">
                            <div class="container" align="center">
                                <ul class="progressbar">
                                    <li id="lesson1"></li>
                                    <li id="lesson2"></li>
                                    <li id="lesson3"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 p-0">
                <div id="editorCol" class="d-flex flex-column h-100">
                    <!-- Ace Editor -->
                    <div id="editor" class="flex-grow-1 p-0"></div>

                    <!-- Error Card -->
                    <div id="compilerResult"></div>

                    <!-- Editor Toolbar -->
                    <div id="editorToolbar" class="p-2 tool-back text-white">
                        <div class="btn-toolbar font-weight-light" role="toolbar" aria-label="Editor Toolbar">
                            <div id="fontButtons" class="d-inline-flex border border-white p-1">
                                <span class="d-none d-md-block my-auto mr-2">Font:</span>
                                <button id="fontIncrease" class="btn btn-sm btn-light mr-1" type="button">
                                    <i class="fas fa-plus fa-fw" aria-hidden="true" title="+"></i>
                                </button>
                                <button id="fontDecrease" class="btn btn-sm btn-light mr-1" type="button">
                                    <i class="fas fa-minus fa-fw" aria-hidden="true" title="-"></i>
                                </button>
                                <button class="btn btn-sm btn-light" id="changeMode" type="button">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-brightness-high-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
                                        <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                                    </svg>
                                    Light
                                </button>
                            </div>
                            <div id="compilerButtons" class="ml-auto">
                                <!-- AreYouSure Modal -->
                                <div class="modal fade" id="areYouSure" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title w-100 text-center" id="are-you-sure">
                                                    Are you sure you want to reset back to the default code template? You will lose your current code.
                                                </h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-block right-icon-holder" id="dont" data-dismiss="modal">
                                                    Don't Reset
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                                <button id="resetCode" class="btn btn-danger btn-block right-icon-holder" type="button" data-toggle="tooltip" data-placement="top" title="Reset">
                                                    Confirm Reset
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-light" data-toggle="modal" data-target="#progress-modal"
                                        aria-expanded="false" type="button">
                                    <i class="fas fa-spinner"></i>
                                    Progress
                                </button>
                                <button id="giveHint" class="btn btn-light" type="button" data-toggle="tooltip"
                                        data-placement="top" title="Get Help">
                                    <i class="far fa-life-ring"></i>
                                </button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#areYouSure">
                                  <i class="fa">&#xf021;</i>
                                </button>
                                <button id="checkCorrectness" class="btn btn-success" type="button"
                                        data-toggle="tooltip" data-placement="top" title="Check Correctness">
                                    <i class="fas fa-clipboard-check"></i>
                                    Run
                                </button>
                            </div>
                        </div>
                        <div id="directionButtons" class="d-flex">
                            <div class="mr-auto">
                                <button id="prev" type="button" class="btn btn-light btn-md"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Previous">Back
                                </button>
                            </div>
                            <div>
                                <button id="next" type="button" class="btn btn-light btn-md"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Next">Next
                                </button>
                            </div>
                        </div>
                    </div>
                    <script src="{% static 'javascript/lesson/editorUtils.js' %}"></script>
                </div>
            </div>
            <div class="col-3 p-0">
                <br>
                <div id="resultCard" class="card">
                    <div class="card-header">
                        Results
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" id="resultTitle"><br></h5>
                        <p class="card-text" id="resultDetails"></p>
                    </div>
                </div>
                <br>
                <div id="explainCard" class="card">
                    <div class="card-header" id="activity-cards">
                        Reasoning
                    </div>
                    <form id="usrform">
                        <div id="results">
                            Explain your reasoning before attempting to Run:
                        </div>
                        <textarea id="explainBox" rows="5" name="comment" form="usrform" placeholder="Write explanation here..." required></textarea>
                    </form>
                    <div class="form-check" hidden>
                        Which of the following best describes your understanding of this concept? <br>
                        <input class="form-check-input" type="radio" name="selectExplain" id="select" value="option1">
                        <label class="form-check-label" for="exampleRadios1" id="radio">
                            First Option
                        </label><br>
                        <input class="form-check-input" type="radio" name="selectExplain" id="select" value="option2">
                        <label class="form-check-label" for="exampleRadios2" id="radio">
                            Section Option
                        </label><br>
                        <input class="form-check-input" type="radio" name="selectExplain" id="select" value="option3">
                        <label class="form-check-label" for="exampleRadios3" id="radio">
                            Third Option
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
