{% extends "core/base.html" %}
{% load static compress %}
{% load mathfilters %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/lesson.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block body_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"
            integrity="sha256-qCCcAHv/Z0u7K344shsZKUF2NR+59ooA3XWRj0LPGIQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-chaos.min.js"
            integrity="sha256-ck2clJ3aqYWprrGnnBxu1OCoEh54qkccsXRguhaZyuo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/theme-solarized_light.min.js"
            integrity="sha256-wkmiQVrgQL4Fyvl50xeBpdR27forCEggA78Up2pu3xs=" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/lesson/mode-resolve.js' %}"></script>
    <script src="{% static 'javascript/lesson/editorUpdate.js' %}"></script>

    <script src="{% static 'javascript/sessionRecording/thinkAloudMain.utils.js' %}"></script>
    <script src="{% static 'javascript/sessionRecording/sessionRecording.api.js' %}"></script>
    <script src="{% static 'javascript/sessionRecording/sessionRecording.utils.js' %}"></script>
    <script src="{% static 'javascript/sessionRecording/speechToText.utils.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            //this will be done in a load lesson function call
            createEditor("{{ lesson_code | safe }}", "{{ lesson.reason.reasoning_type | safe }}", "{{ lesson.lesson_title | safe }}", "{{ currLessonNum | safe }}", "{{ completedLessonNum | safe }}", "{{ review | safe }}", "{{ past | safe }}");
            $("#tutor").attr("class", "nav-item active");
            $("#navbarColor").attr("class", "navbar navbar-expand-lg navbar-dark bg-dark");

            // session recording and transcribing
            initThinkAloudFunctions("{{ audio_record }}" === 'True', "{{ screen_record }}" === 'True', "{{ audio_transcribe }}" === 'True',
                "{{ user_email }}", "{{ currLessonNum }}", "{{ lesson.lesson_title }}");
        });
    </script>

    <script>
        //const INPUTS = document.querySelectorAll('#smileys input');
        //const updateValue = e => document.querySelector('#result').innerHTML = e.target.value;
        //INPUTS.forEach(el => el.addEventListener('click', e => updateValue(e)));
    </script>
{% endblock %}

{% block main_content %}
    <div class="container-fluid" id="main">
        <div class="row" id="row-main">
            <div class="col-3 p-0" id="sidebar">
                <div id="tutorialCol" class="d-flex flex-column">
                    <!-- Tutorial Content -->
                    <div class="jumbotron jumbotron-fluid py-4 mb-0">
                        <div class="container text-center">
                            <h1 id="lessonName">{{lesson.lesson_title}}</h1>
                        </div>
                    </div>
                    <div id="tutorialContent" class="p-3">
                        <h3 class="mb-0 page-section-heading" id="">
                            Activity Description
                        </h3>
                        <br>
                        <div class="" id="activity">
                            {{ lesson.instruction|safe }}
                        </div>
                        <br>
                        <div id="answersCard" hidden>
                            <h3 class="mb-0 page-section-heading" id="">
                                Past Answers
                            </h3>
                            <br>
                            <div class="card bg-danger mb-3">
                                <div class="card-body">
                                    <div class="" id="pastAnswers" style="color: white; font-family: 'Courier New', Courier, monospace; font-weight: bold;">
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <h3 class="mb-0 page-section-heading" id="">
                            Reference Material
                        </h3>
                        <br>
                        <div class="card bg-light mb-3">
                            <div class="card-body">
                                <div class="" id="referenceMaterial">
                                    {% for obj in referenceSet %}
                                        <p> {{ obj | safe }} </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>
                        <h3 class="mb-0 page-section-heading" id="">
                            Concepts
                        </h3>
                        <br>
                        {% for obj in concept %}
                            <span class="badge badge-info ml-2">
                                {{ obj | safe }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Progress Modal -->
            <div id="myNav" class="overlay">
                <a id="closeOverlay" class="closebtn">&times;</a>
                <div class="overlay-content">
                    <ol>
                        {% for obj in orderedSet%}
                            {% if forloop.counter0 == index and not obj.is_alternate%}
                                    <li id="lessonList" style=" color: white"><a style="color: #3A4958; font-size: 150%"><b>{{ obj | safe }}</b></a></li><br>
                            {% elif not obj.is_alternate %}
                                {% if forloop.counter0 <= index %}
                                    <li id="lessonList" style="color: #3A4958"><a class = "nav-link" href="{% url 'tutor:completed' forloop.counter0 %}" style="font-size: 125%">{{ obj | safe }}</a></li><br>
                                {% elif forloop.counter0 == completedLessonNum %}
                                    <li id="lessonList" style="color: #3A4958"><a class = "nav-link" href="{% url 'tutor:tutor' %}" style="font-size: 150%"><b>{{ obj | safe }}</b></a></li><br>
                                {% else %}
                                    <li id="lessonList" style="color: #3A4958"><a style="color: rgba(208, 206, 206, 0.5);font-size: 125%">{{ obj | safe }}</a></li><br>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>

            <div class="col-6 p-0" id="content">
                <div id="editorCol" class="d-flex flex-column h-100">
                    <!-- Ace Editor -->
                    <div id="editor" class="flex-grow-1 p-0"></div>

                    <!-- Error Card -->
                    <div id="compilerResult"></div>

                    <!-- Editor Toolbar -->
                    <div id="editorToolbar" class="p-2 tool-back text-white">
                        <div class="btn-toolbar font-weight-light" role="toolbar" aria-label="Editor Toolbar">
                            <div id="fontButtons" class="d-inline-flex border border-white p-1">
                                <span class="d-none d-md-block my-auto mr-2">Font:</span>
                                <button id="fontIncrease" class="btn btn-sm btn-light mr-1" type="button">
                                    <i class="fas fa-plus fa-fw" aria-hidden="true" title="+"></i>
                                </button>
                                <button id="fontDecrease" class="btn btn-sm btn-light mr-1" type="button">
                                    <i class="fas fa-minus fa-fw" aria-hidden="true" title="-"></i>
                                </button>
                                <button class="btn btn-sm btn-light" id="changeMode" type="button" title="Change Mode" data-toggle="tooltip" data-placement="top" title="Change theme">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-brightness-high-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                                    </svg>
                                    Light
                                </button>
                            </div>
                            <div id="compilerButtons" class="ml-auto">
                                <!-- AreYouSure Modal -->
                                <div class="modal fade" id="areYouSure" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title w-100 text-center" id="are-you-sure">
                                                    Reset Code
                                                </h1>
                                            </div>
                                            <div class="modal-title w-100 text-center" id="are-you-sure">
                                                <h5>Are you sure you want to reset back to the default code template? You will lose your current code.</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="resetCode" class="btn btn-danger btn-inline" style="width: 225px" type="button" data-toggle="tooltip" data-placement="top" title="Reset">
                                                    Reset
                                                </button>
                                                <button type="button" class="btn btn-inline btn-outline-dark " style="width: 225px" data-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<button id="toggleInstruct" type="button" class="btn btn-light toggle-sidebar">Hide Instructions</button>-->
                                <button id="toggleOverlay" class="btn btn-light" type="button">
                                    <i class="fa fa-list" aria-hidden="true"></i> View Lessons
                                </button>
                                <button id="giveHint" class="btn btn-light" type="button" data-toggle="tooltip"
                                        data-placement="top" title="Get Help">
                                    <i class="far fa-life-ring"></i>
                                </button>
                                <button type="button" class="btn btn-danger" title="Reset" data-toggle="modal"
                                        data-target="#areYouSure">
                                    <i class="fa">&#xf021;</i>
                                </button>
                                <button id="checkCorrectness" class="btn btn-success" type="button"
                                        data-toggle="tooltip" data-placement="top" title="Check Correctness">
                                    <i class="fas fa-clipboard-check"></i>
                                    Verify
                                    <div id="getIndex"></div>
                                    <div id="csrf">{% csrf_token %}</div>
                                </button>
                            </div>
                        </div>
                        <div id="directionButtons" class="d-flex">
                            <div id="stepProgressBar">
                                <div class="step">
                                    {% if currLessonNum <= 1 %}
                                        <div class="bullet completed">-</div>
                                    {% else %}
                                        <div class="bullet completed">{{ currLessonNum|sub:1 }}</div>
                                    {% endif %}
                                </div>
                                <div class="step">
                                    {% if currLessonNum == 0 %}
                                        <div class="bullet completed">-</div>
                                    {% else %}
                                        <div data-toggle="tooltip" title="The last lesson you completed" class="bullet completed">{{currLessonNum}}</div>
                                    {% endif %}
                                </div>
                                <div class="step">
                                    <div data-toggle="tooltip" title="The lesson you are currently working on" class="bullet current">{{currLessonNum|add:1}}</div>
                                </div>
                                <div class="step">
                                    {% if currLessonNum == setLength or currLessonNum == setLength|sub:1 %}
                                        <div class="bullet last">-</div>
                                    {% else %}
                                        <div data-toggle="tooltip" title="The next lesson you will encounter" class="bullet last">{{currLessonNum|add:2}}</div>
                                    {% endif %}
                                </div>
                                <div class="step">
                                    {% if currLessonNum|add:2 >= setLength  %}
                                        <div class="bullet end">-</div>
                                    {% else %}
                                        <div class="bullet end" data-toggle="tooltip" title="The last lesson in the set">{{setLength}}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                {% if currLessonNum < completedLessonNum %}
                                    <button id="next" type="button" class="btn btn-light btn-md"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Next">Next
                                    </button>
                                {% else %}
                                    <button id="next" type="button" class="btn btn-light btn-md"
                                            data-toggle="tooltip" data-placement="top"
                                            title="Next" disabled>Next
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <div class="progress">
                    <div class="progress-bar bg-success" id="percent" role="progressbar" style="width: {{finished_count|div:setLength|mul:100}}%;" aria-valuemin="0" aria-valuemax="100">{{finished_count|div:setLength|mul:100|floatformat }}%</div>
                </div>
                    <script src="{% static 'javascript/lesson/editorUtils.js' %}"></script>
                </div>
            </div>
            <div class="col-3 resultPanel p-0" id="right-col" style="background-color: #333;">
                <div id="resultCard" class="card">
                    <h5 class="card-header text-center" id="resultsHeader"></h5>
                    <div class="card-body">
                        <p class="card-text" id="resultDetails"></p>
                    </div>
                </div>
                <div id="explainCard" class="card" style="position: absolute; bottom: 0; width: 98%; margin: 5px 5px 5px 5px; background-color: #E0E0E0; color: #333;">
                    {% if lesson.reason.reasoning_type == 'Text' %}
                        <form id="usrform">
                            <div id="results">
                                <b>
                                    {{ reason }}
                                </b>
                            </div>
                            <textarea id="explainBox" rows="4" name="comment" form="usrform"
                                      placeholder="Type answer here..." required></textarea>
                        </form>
                    {% elif lesson.reason.reasoning_type == 'MC' %}
                        <form id="multiform">
                            <div class="form-check">
                                {{reason}}
                                {% for obj in mc_set %}
                                    <br>
                                    <input class="form-check-input" type="radio" name="selectExplain" value="{{ obj | safe}}">
                                    <label class="form-check-label" for="exampleRadios1" id="radio">
                                        {{ obj | safe}}
                                    </label>
                                {% endfor %}
                            </div>
                        </form>
                    {% elif lesson.reason.reasoning_type == 'Both' %}
                        <form id="usrform">
                            <div id="results">
                                <b>
                                    {{ reason }}
                                </b>
                            </div>
                            <textarea id="explainBox" rows="4" name="comment" form="usrform"
                                      placeholder="Type answer here..." required></textarea>
                        </form>
                        <div class="form-check">
                            {{ reason }}
                            {% for obj in mc_set %}
                                <br>
                                <input class="form-check-input" type="radio" name="selectExplain" id="select"
                                       value="option">
                                <label class="form-check-label" for="exampleRadios1" id="radio">
                                    {{ obj | safe }}
                                </label>
                            {% endfor %}
                        </div>
                    {% elif lesson.reason.reasoning_type == 'None' %}
                    {% endif %}
                    <div id="results">
                        <b>
                            Represent your attitude towards code verification:
                        </b>
                        <a href="#" data-toggle="tooltip" title="This is to help identify which topics you need more help with!">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </a>
                        <script>
                            $(document).ready(function(){
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>
                    </div>
                    <form id="smileys" style="text-align: center;">
                        {% if mood == "upset" %}
                            <input type="radio" name="smiley" value="upset" class="upset" checked="checked">
                            <input type="radio" name="smiley" value="sad" class="sad">
                            <input type="radio" name="smiley" value="neutral" class="neutral">
                            <input type="radio" name="smiley" value="happy" class="happy">
                            <input type="radio" name="smiley" value="excited" class="excited">
                        {% elif mood == "sad" %}
                            <input type="radio" name="smiley" value="upset" class="upset">
                            <input type="radio" name="smiley" value="sad" class="sad" checked="checked">
                            <input type="radio" name="smiley" value="neutral" class="neutral">
                            <input type="radio" name="smiley" value="happy" class="happy">
                            <input type="radio" name="smiley" value="excited" class="excited">
                        {% elif mood == "neutral" %}
                            <input type="radio" name="smiley" value="upset" class="upset">
                            <input type="radio" name="smiley" value="sad" class="sad">
                            <input type="radio" name="smiley" value="neutral" class="neutral" checked="checked">
                            <input type="radio" name="smiley" value="happy" class="happy">
                            <input type="radio" name="smiley" value="excited" class="excited">
                        {% elif mood == "happy" %}
                            <input type="radio" name="smiley" value="upset" class="upset">
                            <input type="radio" name="smiley" value="sad" class="sad">
                            <input type="radio" name="smiley" value="neutral" class="neutral">
                            <input type="radio" name="smiley" value="happy" class="happy" checked="checked">
                            <input type="radio" name="smiley" value="excited" class="excited">
                        {% elif mood == "excited" %}
                            <input type="radio" name="smiley" value="upset" class="upset">
                            <input type="radio" name="smiley" value="sad" class="sad">
                            <input type="radio" name="smiley" value="neutral" class="neutral">
                            <input type="radio" name="smiley" value="happy" class="happy">
                            <input type="radio" name="smiley" value="excited" class="excited" checked="checked">
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}