{% extends "core/lesson_ui.html" %}
{% load static compress mathfilters %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/lesson.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block body_js %}
    <!-- JQuery-Related Library -->
    {% include "core/partial/_jquery_lib.html" %}

    <!-- ACE Editor Library -->
    {% include "core/partial/_ace_lib.html" %}

    <!-- Custom Think-Aloud Library -->
    {% include "core/partial/_think_aloud.html" %}

    <script type="application/javascript">
        $(document).ready(function () {
            //this will be done in a load lesson function call
            createEditor("{{ lesson_code | safe }}", "{{ lesson.reason.reasoning_type | safe }}", "{{ lesson.lesson_title | safe }}", "{{ review | safe }}", "{{ past | safe }}", false);
            $("#tutor").attr("class", "nav-item active");
            $("#navbarColor").attr("class", "navbar navbar-expand-lg navbar-dark bg-dark");

            // session recording and transcribing
            initThinkAloudFunctions("{{ audio_record }}" === 'True', "{{ screen_record }}" === 'True', "{{ audio_transcribe }}" === 'True',
                "{{ user_email }}", "{{ index }}", "{{ lesson.lesson_title }}");

            // enable tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        });
        const assignment = {{ assignment.id }};
    </script>
{% endblock %}

{% block activity_description %}
{{ lesson.instruction|safe }}
{% endblock %}

{% block activity_editor %}
<!-- Ace Editor -->
<div id="editor" class="flex-grow-1 p-0"></div>
{% endblock %}

{% block areyousure_modal %}
<!-- AreYouSure Modal -->
<div class="modal fade" id="areYouSure" tabindex="-1" role="dialog" aria-labelledby="areYouSureModalLabel" aria-hidden="true" style="transform: translate(0, 25%);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-dark-50 bg-opacity-25">
                <h5 class="modal-title text-dark">Reset Code</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body w-100 text-center">
                <span class="text-dark fs-5 fw-bold">Are you sure you want to reset back to the default code template? You will lose your current code.</span>
            </div>
            <div class="modal-footer">
                <button id="resetCode" class="btn btn-danger btn-inline" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Reset">Reset</button>
                <button type="button" class="btn btn-outline-secondary btn-inline" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block check_correctness_button %}
<button id="checkCorrectness" class="btn btn-success" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Check Correctness">
    <i class="fas fa-clipboard-check"></i>
    Verify
    <div id="getIndex"></div>
    <div id="csrf">{% csrf_token %}</div>
</button>
{% endblock %}