/* Tutorial Layout-Related CSS */
#page-content {
    position: relative;
    top: 0;
    bottom: 100px;
    height: calc(100vh - 156px);
    overflow: hidden;
}

#tutorialCol {
    height: calc(100vh - 156px);
}

#tutorialContent {
    overflow-x: hidden;
    overflow-y: auto;
}

#tutorialContent a {
    text-decoration: none;
}

#tutorialContent .inlineCode {
    font-family: "Courier New", Courier, monospace;
}

.navbar-toggle {
    float: left !important;
    margin-right: 0px;
    margin-left: 15px;
}

.modal-nav-content {
    width: 100%;
    height: auto;
}

.modal-nav-body {
    margin-top: 100px;
}

.modal-nav-body ul {
    padding: 0px;
    width: 100%;
    margin: 0px;
    color: #ffffff;
    list-style-type: none;

}

.modal-nav-body ul li {
    padding: 8px;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
}

/* ACE Editor-Related CSS */
.ace_folding-enabled > .ace_gutter-cell {
    padding-right: 10px;
    padding-left: 30px;
}

.tooltip > .tooltip-inner {
    color: #000;
    background-color: #d3d3d3;
}
