/* General CSS */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    color: #222;
}

/* Header-Related CSS */
#page-header {
    min-height: 80px;
}

#page-header .nav-link {
    font-size: 0.95rem;
    color: #fff !important;
}

#page-header .nav-link:hover {
    color: #bdbdbd !important;
}

#page-header .navbar-brand {
    color: #fff !important;
}

#page-header .navbar-brand:hover {
    color: #bdbdbd !important;
}

#page-header-top {
    background-color: #f66733 !important;
}

#site-title {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 200 !important;
}

/* Footer-Related CSS */
#page-footer {
    /* Sticky footer */
    bottom: 0;
    height: 100px;
    color: #fff !important;
    background-color: #30343f !important;
}

#page-footer .footer-link {
    font-size: 1rem;
    color: #ff8c5f !important;
    text-decoration: none;
}

#page-footer .footer-link:hover {
    color: #337ab7 !important;
}

/* Footer-Related CSS */
.logo {
    font-weight: 700;
}

.navbar {
    padding: 0.8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
}

.carousel-caption h1 {
    font-size: 6vw;
    text-shadow: 1px 1px 15px #000;
    text-transform: uppercase;
}

.carousel-caption h3 {
    font-size: 3vw;
    font-weight: 500;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 10px #000;
}

.btn-dark {
    background-color: #30343f;
}

.btn-dark:hover {
    background-color: #30343f;
    border: 1px solid #30343f;
}

.jumbotron {
    padding: 1rem;
    background: #ff8c5f;
    color: #fff;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

/* Firefox Bug Fix */
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    backface-visibility: visible;
}

/* Fixed Background Image */
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
}

#fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("img/mac.png");
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    will-change: transform;
}

/* Bootstrap Padding Fix */
[class*="col-"] {
    padding: 1rem;
}
