.container {
    width: 100%;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #bdbdbd;
    display: block;
    text-align: center;
    margin: 0 auto 0px auto;
    border-radius: 50%;
    background-color: #bdbdbd;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #30343f;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #f66733;
}

.progressbar li.active:before {
    border-color: #bdbdbd;
}

 .progressbar li.active + li:after {
   background-color: #f66733;
}