{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>BeginToReason2</title>

	<!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/logo2.png' %}">

	<!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	{% block css %}
	{% endblock %}

	<!-- JavaScript -->
    <script src="https://kit.fontawesome.com/d50a2fb57f.js"></script>
	{% block head_js %}
	{% endblock %}
</head>
<body>
	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% block body_js %}
	{% endblock %}

	<!-- Navigation Block -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'app:home' %}"><img src="{% static 'images/logo2.png' %}" width="40" height="40" ></a><a class="navbar-brand logo" href="{% url 'app:home' %}">RESOLVE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'app:tutor' %}"><i class="fas fa-code-branch"></i> TUTOR</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://www.cs.clemson.edu/resolve/"><i class="fas fa-external-link-alt fa-fw d-none d-sm-inline-flex" aria-hidden="true"></i> RSRG</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'app:login' %}"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
				</li>
			</ul>
		</div>
	</nav>

    <!-- progress bar
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 40%; background-color: #f66733" aria-valuemin="0" aria-valuemax="100"></div>
    </div> -->

	<!-- Main Content Block -->
	<main id="page-content" role="main">
		{% block main_content %}
		{% endblock %}
	</main>

	<!-- Page Footer -->
	<footer id="page-footer" class="footer w-100 py-2 fixed-bottom">
		<div class="d-flex flex-column flex-md-row justify-content-md-around align-items-center fixed-bottom" style="background-color: inherit;">
			<div class="d-flex flex-row align-items-center px-2">
				<img src="{% static 'images/rsrg-logo4.svg' %}" width="60" height="60" class="d-none d-sm-inline-flex mr-2" alt="Clemson RSRG Logo 2">
				<div class="d-flex flex-column">
					<div id="copyright">Copyright &#9400; 2020 Clemson RSRG. <span class="d-none d-sm-inline-flex">(Created with <a class="footer-link" href="https://www.djangoproject.com/" target="_blank">&nbsp;Django</a>)</span></div>
					<div id="grants-institutions" class="pt-1">This research is funded in part by NSF grants CCF-1161916, DUE-1022941, DUE-1611714, DUE-1915334, DUE-1914667, and DUE-1915088.<br/> This is a joint effort involving Clemson University, Florida Atlantic University and Rose-Hulman Institute of Technology.</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>