{% extends "app/base_template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/lesson.css' %}">
{% endblock %}

{% block body_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"
        integrity="sha256-CVkji/u32aj2TeC+D13f7scFSIfphw2pmu4LaKWMSY8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/theme-tomorrow.js"
        integrity="sha256-55Zsk7fyM+qujBBy8OGc5BtLJVQ+x1TcWtS7REs3fIg=" crossorigin="anonymous"></script>
<script src="{% static 'javascript/lesson/mode-resolve.js' %}"></script>
<script src="{% static 'javascript/lesson/editorUpdate.js' %}"></script>
<script src="{% static 'javascript/lesson/editorUtils.js' %}"></script>
<script type="application/javascript">
    $(document).ready(function () {
        createEditor();
    });
</script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6 p-0 border-right">
            <div id="tutorialCol" class="d-flex flex-column">
                <!-- Tutorial Content -->
                <div id="tutorialContent" class="p-3">
                    <h1>{{Lesson.Name}}</h1>

                    <p>{{Lesson.Activity}}</p>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div id="editorCol" class="d-flex flex-column h-100">
                <!-- Ace Editor -->
                <div id="editor" class="flex-grow-1 p-0"></div>
                <!-- Editor Toolbar -->
                <div id="editorToolbar" class="p-2 bg-dark text-white">
                    <div class="btn-toolbar font-weight-light" role="toolbar" aria-label="Editor Toolbar">
                        <div id="fontButtons" class="d-inline-flex border border-white p-1">
                            <span class="d-none d-md-block my-auto mr-2">Font Size:</span>
                            <button id="fontIncrease" class="btn btn-sm btn-light mr-1" type="button"><i class="fas fa-plus fa-fw" aria-hidden="true" title="+"></i></button>
                            <button id="fontDecrease" class="btn btn-sm btn-light mr-1" type="button"><i class="fas fa-minus fa-fw" aria-hidden="true" title="-"></i></button>
                            <button id="resetFontSize" class="btn btn-sm btn-light" type="button">Default</button>
                        </div>
                        <div id="compilerButtons" class="ml-auto">
                            <button id="checkCorrectness" class="btn btn-success" type="button">Check Correctness</button>
                            <button id="resetCode" class="btn btn-danger" type="button">Reset Code</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>z
    </div>
</div>
{% endblock %}