{% extends "app/base_template.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/lesson.css' %}">
{% endblock %}

{% block body_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js"
        integrity="sha256-CVkji/u32aj2TeC+D13f7scFSIfphw2pmu4LaKWMSY8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/theme-tomorrow.js"
        integrity="sha256-55Zsk7fyM+qujBBy8OGc5BtLJVQ+x1TcWtS7REs3fIg=" crossorigin="anonymous"></script>
<script src="{% static 'javascript/lesson/mode-resolve.js' %}"></script>
<script src="{% static 'javascript/lesson/editorUpdate.js' %}"></script>

<script type="application/javascript">
    $(document).ready(function () {
        createEditor();
    });
</script>

{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6 p-0 border-right">
            <div id="tutorialCol" class="d-flex flex-column">
                <!-- Tutorial Content -->
                <div id="tutorialContent" class="p-3">
                    <br>
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-block btn-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Activity
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                              {{ Lesson.Activity }}
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-block btn-dark collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Reference Material
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                              {{ Lesson.References }}
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <button class="btn btn-block btn-dark collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              About
                            </button>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body">
                              This system uses simple activities to understand the difficulties students face in reasoning logically about code, so that instruction can be improved.
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div id="editorCol" class="d-flex flex-column h-100">
                <!-- Ace Editor -->
                <div id="editor" class="flex-grow-1 p-0"></div>
                <!-- error card -->
                <div id="compilerResult"></div>
                <!-- Editor Toolbar -->
                <div id="editorToolbar" class="p-2 bg-dark text-white">
                    <div class="btn-toolbar font-weight-light" role="toolbar" aria-label="Editor Toolbar">
                        <div id="fontButtons" class="d-inline-flex border border-white p-1">
                            <span class="d-none d-md-block my-auto mr-2">Font Size:</span>
                            <button id="fontIncrease" class="btn btn-sm btn-light mr-1" type="button"><i class="fas fa-plus fa-fw" aria-hidden="true" title="+"></i></button>
                            <button id="fontDecrease" class="btn btn-sm btn-light mr-1" type="button"><i class="fas fa-minus fa-fw" aria-hidden="true" title="-"></i></button>
                            <button id="resetFontSize" class="btn btn-sm btn-light" type="button">Default</button>
                        </div>
                        <div id="compilerButtons" class="ml-auto">
                            <button id="resetCode" class="btn btn-danger" type="button"><i style="font-size:20px" class="fa">&#xf021;</i></button>
                            <button id="checkCorrectness" class="btn btn-success" type="button">Check Correctness</button>
                        </div>
                    </div>
                    <div id="directionButtons" class="d-flex">
                      <div class="mr-auto"><button id="prev" type="button" class="btn btn-light btn-md fa fa-arrow-left" style="margin: 2px 2px 2px 2px;"></button></div>
                      <div ><button id="next" type="button" class="btn btn-light btn-md fa fa-arrow-right" style="margin: 2px 2px 2px 2px;"></button></div>
                      <script src="{% static 'javascript/lesson/lessonUtils.js' %}"></script>
                    </div>
                </div>
                <script src="{% static 'javascript/lesson/editorUtils.js' %}"></script>
            </div>
        </div>
        <div class="col-lg-3 p-0">
            <br>
            <div id="resultCard" class="card" style="margin: 5px 5px 5px 5px">
              <div class="card-header">
                Results
              </div>
              <div class="card-body" >
                <h5 class="card-title" id="resultTitle"><br></h5>
                <p class="card-text" id="resultDetails"></p>
              </div>
            </div>
            <br>
             <div id="resultCard" class="card" style="margin: 5px 5px 5px 5px">
                 <div class="card-header">
                Reasoning
                </div>
                <br>
                <form id="usrform">
                    Please explain your reasoning to Check Correctness <br><br>
                    <textarea id = "explainBox" style="width: 90%; resize: none; display: block; margin-left: auto; margin-right: auto;" rows="5" name="comment" form="usrform" placeholder="Write explanation here..." required></textarea>
                </form>
                <br>
                <div class="form-check" style="visibility: hidden">
                    Whaich of the following best describes your understanding of this concept? <br><br>
                  <input class="form-check-input" type="radio" name="selectExplain" id="select1" value="option1" style="margin-left: 12px;">
                  <label class="form-check-label" for="exampleRadios1" style="margin-left: 36px;">
                    First Option
                  </label>
                  <input class="form-check-input" type="radio" name="selectExplain" id="select2" value="option2" style="margin-left: 12px;">
                  <label class="form-check-label" for="exampleRadios2" style="margin-left: 36px;">
                    Section Option
                  </label>
                  <input class="form-check-input" type="radio" name="selectExplain" id="select3" value="option3" style="margin-left: 12px;">
                  <label class="form-check-label" for="exampleRadios3" style="margin-left: 36px;">
                    Third Option
                  </label>
                </div>
                <br>
             </div>
        </div>
    </div>
</div>


{% endblock %}